In [11]:
# 导入各种包
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate
import warnings; warnings.simplefilter('ignore')

In [12]:
# 读取数据
md = pd. read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/movies_metadata.csv')
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
# 把genres这一栏的数据重新整理：
# 先填充[],然后用literal_eval这个字符串变为原有的类型。
# 这一行的目的是提取电影题材的关键词。
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [15]:
md['vote_count']

0        5415.0
1        2413.0
2          92.0
3          34.0
4         173.0
5        1886.0
6         141.0
7          45.0
8         174.0
9        1194.0
10        199.0
11        210.0
12        423.0
13         72.0
14        137.0
15       1343.0
16        364.0
17        539.0
18       1128.0
19        224.0
20        305.0
21        199.0
22        394.0
23        143.0
24        365.0
25         33.0
26         91.0
27         36.0
28        308.0
29         17.0
          ...
45436      11.0
45437     146.0
45438      11.0
45439       2.0
45440      12.0
45441     145.0
45442       3.0
45443      29.0
45444       8.0
45445       2.0
45446      12.0
45447       6.0
45448       2.0
45449       7.0
45450      22.0
45451       6.0
45452       0.0
45453      14.0
45454       2.0
45455       3.0
45456       8.0
45457       2.0
45458       1.0
45459       1.0
45460      26.0
45461       1.0
45462       3.0
45463       6.0
45464       0.0
45465       0.0
Name: vote_count, Length: 45466, dtype: float64

In [16]:
md['vote_count'].notnull()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
45436    True
45437    True
45438    True
45439    True
45440    True
45441    True
45442    True
45443    True
45444    True
45445    True
45446    True
45447    True
45448    True
45449    True
45450    True
45451    True
45452    True
45453    True
45454    True
45455    True
45456    True
45457    True
45458    True
45459    True
45460    True
45461    True
45462    True
45463    True
45464    True
45465    True
Name: vote_count, Length: 45466, dtype: bool

In [18]:
md[md['vote_count'].notnull()]['vote_count']

0        5415.0
1        2413.0
2          92.0
3          34.0
4         173.0
5        1886.0
6         141.0
7          45.0
8         174.0
9        1194.0
10        199.0
11        210.0
12        423.0
13         72.0
14        137.0
15       1343.0
16        364.0
17        539.0
18       1128.0
19        224.0
20        305.0
21        199.0
22        394.0
23        143.0
24        365.0
25         33.0
26         91.0
27         36.0
28        308.0
29         17.0
          ...
45436      11.0
45437     146.0
45438      11.0
45439       2.0
45440      12.0
45441     145.0
45442       3.0
45443      29.0
45444       8.0
45445       2.0
45446      12.0
45447       6.0
45448       2.0
45449       7.0
45450      22.0
45451       6.0
45452       0.0
45453      14.0
45454       2.0
45455       3.0
45456       8.0
45457       2.0
45458       1.0
45459       1.0
45460      26.0
45461       1.0
45462       3.0
45463       6.0
45464       0.0
45465       0.0
Name: vote_count, Length: 45460, dtype: float64

In [14]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [21]:
vote_counts

0        5415
1        2413
2          92
3          34
4         173
5        1886
6         141
7          45
8         174
9        1194
10        199
11        210
12        423
13         72
14        137
15       1343
16        364
17        539
18       1128
19        224
20        305
21        199
22        394
23        143
24        365
25         33
26         91
27         36
28        308
29         17
         ...
45436      11
45437     146
45438      11
45439       2
45440      12
45441     145
45442       3
45443      29
45444       8
45445       2
45446      12
45447       6
45448       2
45449       7
45450      22
45451       6
45452       0
45453      14
45454       2
45455       3
45456       8
45457       2
45458       1
45459       1
45460      26
45461       1
45462       3
45463       6
45464       0
45465       0
Name: vote_count, Length: 45460, dtype: int64

In [28]:
# 这里不是说有多少个，而是0.95的分位点的counts值是多少。
m = vote_counts.quantile(0.95)
m

434.0

In [29]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [30]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

(2274, 6)