In [1]:
# 导入各种包
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate
import warnings; warnings.simplefilter('ignore')

In [2]:
# 读取数据
md = pd. read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/movies_metadata.csv')
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
type(md['genres'])

pandas.core.series.Series

In [4]:
# 把genres这一栏的数据重新整理：
# 先给空白数据填充[],然后用literal_eval这个字符串变为原有的类型；
# 这一行的目的是提取电影题材的关键词；
# 下面代码的虚函数里，x是某一行的list，而i指的是list中的字典；
# 这里的apply函数是pandas中的apply函数，可以将数据帧中的许多列遍历计算，和map的区别在于参数不同，这个全都是函数式编程的形式在进行；
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
md.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
# 每个电影被投了多少票
md['vote_count']
print(type(md))
print(type(md['vote_count']))
print(type(md['vote_count'].notnull()))
print(md.shape)
print(md['vote_count'].shape)
print(md['vote_count'].notnull().shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
(45466, 24)
(45466,)
(45466,)

In [6]:
md['vote_count'].notnull().head()

0    True
1    True
2    True
3    True
4    True
Name: vote_count, dtype: bool

In [7]:
md[md['vote_count'].notnull()]['vote_count'].head()

0    5415.0
1    2413.0
2      92.0
3      34.0
4     173.0
Name: vote_count, dtype: float64

In [8]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
print(vote_averages)

0        7
1        6
2        6
3        6
4        5
5        7
6        6
7        5
8        5
9        6
10       6
11       5
12       7
13       7
14       5
15       7
16       7
17       6
18       6
19       5
20       6
21       6
22       6
23       6
24       7
25       7
26       6
27       7
28       7
29       6
        ..
45436    3
45437    8
45438    6
45439    5
45440    5
45441    5
45442    5
45443    7
45444    6
45445    4
45446    6
45447    6
45448    5
45449    5
45450    6
45451    6
45452    0
45453    6
45454    4
45455    6
45456    6
45457    7
45458    7
45459    3
45460    5
45461    4
45462    9
45463    3
45464    0
45465    0
Name: vote_average, Length: 45460, dtype: int64

In [9]:
C = vote_averages.mean()
C
print(C)

5.244896612406511

In [10]:
type(md[md['vote_count'].notnull()]['vote_count'])

pandas.core.series.Series

In [11]:
# 这里不是说有多少个，而是0.95的分位点的counts的值是多少；
m = vote_counts.quantile(0.95)
m

434.0

In [12]:
# 转换时间的格式，只提取年份；
# 参数解释：errors：If ‘coerce’, then invalid parsing will be set as NaT
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [13]:
# 先看看这个返回值，是一个45466行的布尔值；
md['vote_count'] >= m
print((md['vote_count'] >= m).shape)
type(md['vote_count'] >= m)

(45466,)

pandas.core.series.Series

In [14]:
type((md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull()))

pandas.core.series.Series

In [15]:
temmmp = (md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())
temmmp.shape

(45466,)

In [16]:
# 这里用&运算符得出很骚的结果
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
print(qualified)
# 将票数的类型转换一下，改为整型
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

                                             title  year  vote_count  \
0                                        Toy Story  1995      5415.0
1                                          Jumanji  1995      2413.0
5                                             Heat  1995      1886.0
9                                        GoldenEye  1995      1194.0
15                                          Casino  1995      1343.0
17                                      Four Rooms  1995       539.0
18                  Ace Ventura: When Nature Calls  1995      1128.0
31                                  Twelve Monkeys  1995      2470.0
33                                            Babe  1995       756.0
38                                        Clueless  1995       828.0
43                                   Mortal Kombat  1995       452.0
46                                           Se7en  1995      5915.0
47                                      Pocahontas  1995      1509.0
49                              The Usual Suspects  1995      3334.0
68                                          Friday  1995       513.0
69                             From Dusk Till Dawn  1996      1644.0
93                                    Broken Arrow  1996       459.0
95                                        La Haine  1995       695.0
102                                  Happy Gilmore  1996       767.0
108                                     Braveheart  1995      3404.0
109                                    Taxi Driver  1976      2632.0
142                                       Bad Boys  1995      1729.0
144                         The Basketball Diaries  1995       472.0
147                                      Apollo 13  1995      1637.0
150                                 Batman Forever  1995      1529.0
155                                         Casper  1995      1045.0
158                                   Crimson Tide  1995       508.0
160                                      Desperado  1995       898.0
162                     Die Hard: With a Vengeance  1995      2094.0
170                                    Judge Dredd  1995       643.0
...                                            ...   ...         ...
42214             King Arthur: Legend of the Sword  2017      1506.0
42222                         Beauty and the Beast  2017      5530.0
42235                                The Boss Baby  2017      2336.0
42271             Resident Evil: The Final Chapter  2016      1139.0
42309                           Ghost in the Shell  2017      2547.0
42355                          Fifty Shades Darker  2017      2341.0
42537                                  To the Bone  2017       714.0
42853                                         Life  2017      1959.0
42868                           The Lost City of Z  2016       598.0
42886                              Two Is a Family  2016       765.0
42901                                Power Rangers  2017      1321.0
42902                              Alien: Covenant  2017      2677.0
43059                               Going in Style  2017       543.0
43186                                       Gifted  2017       549.0
43190                             Band of Brothers  2001       725.0
43220                       Everything, Everything  2017       670.0
43231                                     Baywatch  2017      1829.0
43238                                    The Mummy  2017      2122.0
43255                      The Fate of the Furious  2017      3803.0
43294                                       Cars 3  2017       718.0
43644                                  Baby Driver  2017      2083.0
43645                                         Okja  2017       795.0
44009                              Despicable Me 3  2017      2002.0
44274               War for the Planet of the Apes  2017      1675.0
44337  Valerian and the City of a Thousand Planets  2017       905.0
44624                      What Happened to Monday  2017       598.0
44632                                Atomic Blonde  2017       748.0
44678                                      Dunkirk  2017      2712.0
44842                Transformers: The Last Knight  2017      1440.0
45014                               The Dark Tower  2017       688.0

       vote_average  popularity  \
0               7.7     21.9469
1               6.9     17.0155
5               7.7     17.9249
9               6.6      14.686
15              7.8     10.1374
17              6.5     9.02659
18              6.1     8.20545
31              7.4     12.2973
33              6.0     14.4048
38              6.9     9.88238
43              5.4     10.8701
46              8.1     18.4574
47              6.7     13.2801
49              8.1     16.3025
68              7.0     14.5696
69              6.9     15.3392
93              5.7     14.9576
95              7.9     12.1082
102             6.5     9.59226
108             7.7     20.7551
109             8.1     14.0927
142             6.5     9.26218
144             7.2     7.41514
147             7.3     18.7615
150             5.2     13.3214
155             6.0     12.8125
158             7.0     8.65736
160             6.8     6.95046
162             6.9     15.1389
170             5.4     8.18481
...             ...         ...
42214           6.5   44.251369
42222           6.8  287.253654
42235           6.1   13.392824
42271           5.9     0.75571
42309           5.9   68.726676
42355           6.0   29.130443
42537           7.3    9.128637
42853           6.3   36.263803
42868           6.1   21.791111
42886           7.6   17.181564
42901           6.3   23.247298
42902           5.7   72.884078
43059           6.6   15.157255
43186           7.7   16.025911
43190           8.2    7.903731
43220           7.3   12.108048
43231           6.1   35.637691
43238           5.4   33.704935
43255           6.8   48.573287
43294           6.6   19.148182
43644           7.2  228.032744
43645           7.7   15.738471
44009           6.2   36.631519
44274           6.7  146.161786
44337           6.7   15.262706
44624           7.3   60.581223
44632           6.1   14.455104
44678           7.5   30.938854
44842           6.2   39.186819
45014           5.7   50.903593

                                                  genres
0                            [Animation, Comedy, Family]
1                           [Adventure, Fantasy, Family]
5                       [Action, Crime, Drama, Thriller]
9                          [Adventure, Action, Thriller]
15                                        [Drama, Crime]
17                                       [Crime, Comedy]
18                            [Crime, Comedy, Adventure]
31                  [Science Fiction, Thriller, Mystery]
33                      [Fantasy, Drama, Comedy, Family]
38                              [Comedy, Drama, Romance]
43                                     [Action, Fantasy]
46                            [Crime, Mystery, Thriller]
47                 [Adventure, Animation, Drama, Family]
49                              [Drama, Crime, Thriller]
68                                              [Comedy]
69                     [Horror, Action, Thriller, Crime]
93                  [Action, Adventure, Drama, Thriller]
95                                               [Drama]
102                                             [Comedy]
108                        [Action, Drama, History, War]
109                                       [Crime, Drama]
142                    [Action, Comedy, Crime, Thriller]
144                                       [Drama, Crime]
147                                              [Drama]
150                             [Action, Crime, Fantasy]
155                            [Fantasy, Comedy, Family]
158                            [Action, Thriller, Drama]
160                            [Thriller, Action, Crime]
162                                   [Action, Thriller]
170                                    [Science Fiction]
...                                                  ...
42214                           [Action, Drama, Fantasy]
42222                         [Family, Fantasy, Romance]
42235                        [Animation, Comedy, Family]
42271                  [Action, Horror, Science Fiction]
42309                [Action, Science Fiction, Thriller]
42355                                   [Drama, Romance]
42537                                            [Drama]
42853                [Horror, Science Fiction, Thriller]
42868                [Action, Adventure, Drama, History]
42886                                    [Drama, Comedy]
42901               [Action, Adventure, Science Fiction]
42902                [Horror, Science Fiction, Thriller]
43059                             [Crime, Comedy, Drama]
43186                                            [Drama]
43190                               [Action, Drama, War]
43220                                   [Drama, Romance]
43231                                   [Action, Comedy]
43238                      [Thriller, Action, Adventure]
43255                          [Action, Crime, Thriller]
43294             [Family, Comedy, Animation, Adventure]
43644                                    [Action, Crime]
43645       [Adventure, Drama, Fantasy, Science Fiction]
44009     [Action, Animation, Adventure, Family, Comedy]
44274                      [Drama, Science Fiction, War]
44337               [Adventure, Science Fiction, Action]
44624                        [Science Fiction, Thriller]
44632                                 [Action, Thriller]
44678            [Action, Drama, History, Thriller, War]
44842     [Action, Science Fiction, Thriller, Adventure]
45014  [Action, Western, Science Fiction, Fantasy, Ho...

[2274 rows x 6 columns]

(2274, 6)

# 完成了数据的转换，下面开始推荐系统的构建
* v is the number of votes for the movie
* m is the minimum votes required to be listed in the chart
* R is the average rating of the movie
* C is the mean vote across the whole report

In [17]:
# V是这个电影收获的投票的数量
# R是这个电影收获的平均评分
# m是临界值，95%的电影都至少收获434票，那就要多于这个值才参与讨论
# C是TMBD上所有电影的平均评分
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [18]:
# axis : {0 or ‘index’, 1 or ‘columns’}, default 0
# 0 or ‘index’: apply function to each column
# 1 or ‘columns’: apply function to each row
# 加的这一栏是加权评分，不知道图啥
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [19]:
# 看一下数据的大体构成
qualified.sort_values('wr', ascending=False).head(50)

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787
292,Pulp Fiction,1994,8670,8,140.95,"[Thriller, Crime]",7.868660
314,The Shawshank Redemption,1994,8358,8,51.6454,"[Drama, Crime]",7.864000
7000,The Lord of the Rings: The Return of the King,2003,8226,8,29.3244,"[Adventure, Fantasy, Action]",7.861927
351,Forrest Gump,1994,8147,8,48.3072,"[Comedy, Drama, Romance]",7.860656
5814,The Lord of the Rings: The Two Towers,2002,7641,8,29.4235,"[Adventure, Fantasy, Action]",7.851924
256,Star Wars,1977,6778,8,42.1497,"[Adventure, Action, Science Fiction]",7.834205
1225,Back to the Future,1985,6239,8,25.7785,"[Adventure, Comedy, Science Fiction, Family]",7.820813
834,The Godfather,1972,6024,8,41.1093,"[Drama, Crime]",7.814847
1154,The Empire Strikes Back,1980,5998,8,19.471,"[Adventure, Action, Science Fiction]",7.814099
46,Se7en,1995,5915,8,18.4574,"[Crime, Mystery, Thriller]",7.811669
24860,The Imitation Game,2014,5895,8,31.5959,"[History, Drama, Thriller, War]",7.811074
359,The Lion King,1994,5520,8,21.6058,"[Family, Animation, Drama]",7.799175
18465,The Intouchables,2011,5410,8,16.0869,"[Drama, Comedy]",7.795394
22841,The Grand Budapest Hotel,2014,4644,8,14.442,"[Comedy, Drama]",7.764530
586,The Silence of the Lambs,1991,4549,8,4.30722,"[Crime, Drama, Thriller]",7.760041
11354,The Prestige,2006,4510,8,16.9456,"[Drama, Mystery, Thriller]",7.758148
522,Schindler's List,1993,4436,8,41.7251,"[Drama, History, War]",7.754473
23673,Whiplash,2014,4376,8,64.3,[Drama],7.751411
289,Leon: The Professional,1994,4293,8,20.4773,"[Thriller, Crime, Drama]",7.747046
4099,Memento,2000,4168,8,15.4508,"[Mystery, Thriller]",7.740175
3030,The Green Mile,1999,4166,8,19.9668,"[Fantasy, Drama, Crime]",7.740062
5481,Spirited Away,2001,3968,8,41.0489,"[Fantasy, Adventure, Animation, Family]",7.728370
1213,The Shining,1980,3890,8,19.6116,"[Horror, Thriller]",7.723470
1057,Reservoir Dogs,1992,3821,8,12.2203,"[Crime, Thriller]",7.718986
2211,Life Is Beautiful,1997,3643,8,39.395,"[Comedy, Drama]",7.706717
1163,A Clockwork Orange,1971,3432,8,17.1126,"[Science Fiction, Drama]",7.690710
1178,The Godfather: Part II,1974,3418,8,36.6293,"[Drama, Crime]",7.689586
49,The Usual Suspects,1995,3334,8,16.3025,"[Drama, Crime, Thriller]",7.682666
1170,GoodFellas,1990,3211,8,15.4241,"[Drama, Crime]",7.671958
2216,American History X,1998,3120,8,18.1572,[Drama],7.663558
4135,Scarface,1983,3017,8,11.2997,"[Action, Crime, Drama, Thriller]",7.653516
1152,One Flew Over the Cuckoo's Nest,1975,3001,8,35.5296,[Drama],7.651903
32144,Room,2015,2838,8,12.4433,"[Drama, Thriller]",7.634561
1201,Dead Poets Society,1989,2786,8,19.9057,[Drama],7.628660
109,Taxi Driver,1976,2632,8,14.0927,"[Crime, Drama]",7.610008
1176,Psycho,1960,2405,8,36.8263,"[Drama, Horror, Thriller]",7.578825
1159,"The Good, the Bad and the Ugly",1966,2371,8,16.7888,[Western],7.573720
1161,12 Angry Men,1957,2130,8,16.504,[Drama],7.533653
1165,Apocalypse Now,1979,2112,8,13.5963,"[Drama, War]",7.530356
9698,Howl's Moving Castle,2004,2049,8,16.136,"[Fantasy, Animation, Adventure]",7.518439
2884,Princess Mononoke,1997,2041,8,17.1667,"[Adventure, Fantasy, Animation]",7.516883
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,"[Comedy, Drama, Romance]",7.511676
9430,Oldboy,2003,2000,8,10.6169,"[Drama, Thriller, Mystery, Action]",7.508745
5857,The Pianist,2002,1927,8,14.8116,"[Drama, War]",7.493556
5878,City of God,2002,1852,8,14.9593,"[Drama, Crime]",7.476940

In [20]:
# s是把电影的类型分别提取出来，前面的数字是电影的序号。
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
print(s)

0              Animation
0                 Comedy
0                 Family
1              Adventure
1                Fantasy
1                 Family
2                Romance
2                 Comedy
3                 Comedy
3                  Drama
3                Romance
4                 Comedy
5                 Action
5                  Crime
5                  Drama
5               Thriller
6                 Comedy
6                Romance
7                 Action
7              Adventure
7                  Drama
7                 Family
8                 Action
8              Adventure
8               Thriller
9              Adventure
9                 Action
9               Thriller
10                Comedy
10                 Drama
              ...
45446             Comedy
45449          Animation
45449             Family
45450            Fantasy
45450             Action
45450           Thriller
45451             Comedy
45451            Fantasy
45452        Documentary
45453              Crime
45453              Drama
45453           Thriller
45454             Comedy
45454              Drama
45456             Horror
45456            Mystery
45456           Thriller
45457            Mystery
45457             Horror
45458             Horror
45459    Science Fiction
45460              Drama
45460             Action
45460            Romance
45461              Drama
45461             Family
45462              Drama
45463             Action
45463              Drama
45463           Thriller
Length: 91106, dtype: object

In [21]:
s.name = 'genre'
# gen_md大体上是把s和之前的md（先删掉没被处理过的‘genre’部分）连接起来；
gen_md = md.drop('genres', axis=1).join(s)
print(gen_md)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
3      False                                                NaN  16000000
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
5      False                                                NaN  60000000
6      False                                                NaN  58000000
6      False                                                NaN  58000000
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
7      False                                                NaN         0
8      False                                                NaN  35000000
8      False                                                NaN  35000000
8      False                                                NaN  35000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
9      False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10     False                                                NaN  62000000
10     False                                                NaN  62000000
...      ...                                                ...       ...
45450  False                                                NaN         0
45450  False                                                NaN         0
45450  False                                                NaN         0
45451  False                                                NaN         0
45451  False                                                NaN         0
45452  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45453  False                                                NaN         0
45454  False                                                NaN         0
45454  False                                                NaN         0
45455  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45456  False                                                NaN         0
45457  False                                                NaN         0
45457  False                                                NaN         0
45458  False                                                NaN         0
45459  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45460  False                                                NaN         0
45461  False                                                NaN         0
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                           homepage      id    imdb_id  \
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
0              http://toystory.disney.com/toy-story     862  tt0114709
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
1                                               NaN    8844  tt0113497
2                                               NaN   15602  tt0113228
2                                               NaN   15602  tt0113228
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
3                                               NaN   31357  tt0114885
4                                               NaN   11862  tt0113041
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
5                                               NaN     949  tt0113277
6                                               NaN   11860  tt0114319
6                                               NaN   11860  tt0114319
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
7                                               NaN   45325  tt0112302
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
8                                               NaN    9091  tt0114576
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
9      http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                              NaN    9087  tt0112346
10                                              NaN    9087  tt0112346
...                                             ...     ...        ...
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45450                                           NaN   49280  tt0135453
45451                                           NaN  106807  tt0135571
45451                                           NaN  106807  tt0135571
45452                                           NaN  276895  tt3054038
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45453                                           NaN  404604  tt5690142
45454                                           NaN  420346  tt4130180
45454                                           NaN  420346  tt4130180
45455                                           NaN   67179  tt0069215
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45456                                           NaN   84419  tt0038621
45457                                           NaN  390959  tt0265736
45457                                           NaN  390959  tt0265736
45458                                           NaN  289923  tt0252966
45459                                           NaN  222848  tt0112613
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45460                                           NaN   30840  tt0102797
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45461          http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                           NaN  111109  tt2028550
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45463                                           NaN   67758  tt0303758
45464                                           NaN  227506  tt0008536
45465                                           NaN  461257  tt6980792

      original_language                  original_title  \
0                    en                       Toy Story
0                    en                       Toy Story
0                    en                       Toy Story
1                    en                         Jumanji
1                    en                         Jumanji
1                    en                         Jumanji
2                    en                Grumpier Old Men
2                    en                Grumpier Old Men
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
3                    en               Waiting to Exhale
4                    en     Father of the Bride Part II
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
5                    en                            Heat
6                    en                         Sabrina
6                    en                         Sabrina
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
7                    en                    Tom and Huck
8                    en                    Sudden Death
8                    en                    Sudden Death
8                    en                    Sudden Death
9                    en                       GoldenEye
9                    en                       GoldenEye
9                    en                       GoldenEye
10                   en          The American President
10                   en          The American President
...                 ...                             ...
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45450                fr               L'Homme orchestre
45451                fr  Nouvelles luttes extravagantes
45451                fr  Nouvelles luttes extravagantes
45452                en                     Deep Hearts
45453                hi                             Maa
45453                hi                             Maa
45453                hi                             Maa
45454                en               The Morning After
45454                en               The Morning After
45455                it      San Michele aveva un gallo
45456                en                House of Horrors
45456                en                House of Horrors
45456                en                House of Horrors
45457                en       Shadow of the Blair Witch
45457                en       Shadow of the Blair Witch
45458                en             The Burkittsville 7
45459                en                 Caged Heat 3000
45460                en                      Robin Hood
45460                en                      Robin Hood
45460                en                      Robin Hood
45461                fa                         رگ خواب
45461                fa                         رگ خواب
45462                tl             Siglo ng Pagluluwal
45463                en                        Betrayal
45463                en                        Betrayal
45463                en                        Betrayal
45464                en             Satana likuyushchiy
45465                en                        Queerama

                                                overview popularity  \
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
0      Led by Woody, Andy's toys live happily in his ...    21.9469
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
1      When siblings Judy and Peter discover an encha...    17.0155
2      A family wedding reignites the ancient feud be...    11.7129
2      A family wedding reignites the ancient feud be...    11.7129
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
3      Cheated on, mistreated and stepped on, the wom...    3.85949
4      Just when George Banks has recovered from his ...    8.38752
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
5      Obsessive master thief, Neil McCauley leads a ...    17.9249
6      An ugly duckling having undergone a remarkable...    6.67728
6      An ugly duckling having undergone a remarkable...    6.67728
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
7      A mischievous young boy, Tom Sawyer, witnesses...    2.56116
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
8      International action superstar Jean Claude Van...    5.23158
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
9      James Bond must unmask the mysterious head of ...     14.686
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
10     Widowed U.S. president Andrew Shepherd, one of...    6.31844
...                                                  ...        ...
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45450  A band-leader has arranged seven chairs for th...   1.109068
45451         A series of fantastical wrestling matches.   0.225432
45451         A series of fantastical wrestling matches.   0.225432
45452  Deep Hearts is a film about the Bororo Fulani,...   0.011025
45453  The bliss of a biology teacher’s family life i...   1.559596
45453  The bliss of a biology teacher’s family life i...   1.559596
45453  The bliss of a biology teacher’s family life i...   1.559596
45454  The Morning After is a feature film that consi...   0.139936
45454  The Morning After is a feature film that consi...   0.139936
45455  Sentenced to life imprisonment for illegal act...   0.225051
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45456  An unsuccessful sculptor saves a madman named ...   0.222814
45457  In this true-crime documentary, we delve into ...   0.076061
45457  In this true-crime documentary, we delve into ...   0.076061
45458  A film archivist revisits the story of Rustin ...    0.38645
45459  It's the year 3000 AD. The world's most danger...   0.661558
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45460  Yet another version of the classic epic, with ...   5.683753
45461        Rising and falling between a man and woman.   0.072051
45461        Rising and falling between a man and woman.   0.072051
45462  An artist struggles to finish his work while a...   0.178241
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45463  When one of her hits goes wrong, a professiona...   0.903007
45464  In a small town live two brothers, one a minis...   0.003503
45465  50 years after decriminalisation of homosexual...   0.163015

            ...        runtime  \
0           ...           81.0
0           ...           81.0
0           ...           81.0
1           ...          104.0
1           ...          104.0
1           ...          104.0
2           ...          101.0
2           ...          101.0
3           ...          127.0
3           ...          127.0
3           ...          127.0
4           ...          106.0
5           ...          170.0
5           ...          170.0
5           ...          170.0
5           ...          170.0
6           ...          127.0
6           ...          127.0
7           ...           97.0
7           ...           97.0
7           ...           97.0
7           ...           97.0
8           ...          106.0
8           ...          106.0
8           ...          106.0
9           ...          130.0
9           ...          130.0
9           ...          130.0
10          ...          106.0
10          ...          106.0
...         ...            ...
45450       ...            1.0
45450       ...            1.0
45450       ...            1.0
45451       ...            2.0
45451       ...            2.0
45452       ...           58.0
45453       ...          146.0
45453       ...          146.0
45453       ...          146.0
45454       ...           79.0
45454       ...           79.0
45455       ...           90.0
45456       ...           65.0
45456       ...           65.0
45456       ...           65.0
45457       ...           45.0
45457       ...           45.0
45458       ...           30.0
45459       ...           85.0
45460       ...          104.0
45460       ...          104.0
45460       ...          104.0
45461       ...           90.0
45461       ...           90.0
45462       ...          360.0
45463       ...           90.0
45463       ...           90.0
45463       ...           90.0
45464       ...           87.0
45465       ...           75.0

                                        spoken_languages    status  \
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
5      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
6      [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
6      [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
7      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released

In [22]:
# 这里构建一个需要获得85%的电影都能获得的最低票数的电影的表；
def build_chart(genre, percentile=0.65):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250) 
    return qualified

In [23]:
build_chart('Comedy').head(15)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.860802
351,Forrest Gump,1994,8147,8,48.3072,7.991481
1225,Back to the Future,1985,6239,8,25.7785,7.988886
18465,The Intouchables,2011,5410,8,16.0869,7.987191
22841,The Grand Budapest Hotel,2014,4644,8,14.442,7.985090
2211,Life Is Beautiful,1997,3643,8,39.395,7.981022
732,Dr. Strangelove or: How I Learned to Stop Worr...,1964,1472,8,9.80398,7.953519
3342,Modern Times,1936,881,8,8.15956,7.923231
883,Some Like It Hot,1959,835,8,11.8451,7.919130
1236,The Great Dictator,1940,756,8,9.24175,7.910960
882,The Apartment,1960,498,8,11.9943,7.867120
3189,City Lights,1931,444,8,10.8915,7.851853
31658,Feast,2014,420,8,7.36566,7.843881
3192,The Kid,1921,404,8,8.16846,7.838072
2906,The General,1926,240,8,8.00295,7.738236

* 上面的推荐系统是不包含任何用户信息的，它只能对某一个电影类型做出推荐，我们希望给每个用户提供独有的推荐信息，这就需要我们构建一个基于内容的过滤器。

In [24]:
# 读取数据
links = pd.read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/links_small.csv')
links = links[links['tmdbId'].notnull()]['tmdbId'].astype('int')

In [25]:
md.shape

(45466, 25)

In [26]:
md

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995
5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995
6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995
7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995
8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995
10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,1995
11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,1995
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995
13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,1995
14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,1995
15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,1995
16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,1995
17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,1995
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,1995
19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,1995
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,1995
21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,1995
22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,1995
23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,1995
24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,1995
25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,1995
26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,1995
27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0,1995
28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,1995
29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[Action, Mystery, Thriller, Horror]",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0,2010
45437,False,NaN,0,"[Family, Animation, Romance, Comedy]",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017
45438,False,NaN,0,[Drama],NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0,2015
45439,False,NaN,0,"[Drama, Fantasy, Horror]",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0,1944
45440,False,NaN,0,"[Drama, Family, TV Movie]",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0,2007
45441,False,NaN,0,[Comedy],NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,2002
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0,1905
45443,False,NaN,0,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0,1901
45444,False,NaN,0,[Fantasy],NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0,1905
45445,False,NaN,0,"[Fantasy, Comedy]",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0,1906
45446,False,NaN,0,"[Fantasy, Comedy]",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0,1909
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0,1904
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0,1904
45449,False,NaN,0,"[Animation, Family]",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,2005
45450,False,NaN,0,"[Fantasy, Action, Thriller]",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0,1900
45451,False,NaN,0,"[Comedy, Fantasy]",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0,1900
45452,False,NaN,0,[Documentary],NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0,1981
45453,False,NaN,0,"[Crime, Drama, Thriller]",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0,2017
45454,False,NaN,0,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0,2015
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0,1972
45456,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,1946
45457,False,NaN,0,"[Mystery, Horror]",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,2000
45458,False,NaN,0,[Horror],NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,2000
45459,False,NaN,0,[Science Fiction],NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,1995
45460,False,NaN,0,"[Drama, Action, Romance]",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,1991
45461,False,NaN,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaT
45462,False,NaN,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,2011
45463,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,1917
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017

In [27]:
md.iloc[[19730]]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[Carousel Productions, Vision View Entertainme...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [28]:
md.iloc[[29503]]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[Aniplex, GoHands, BROSTA TV, Mardock Scramble...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [29]:
md.iloc[[35587]]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[Odyssey Media, Pulser Productions, Rogue Stat...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [30]:
# drop了这三行的数据，不知道为啥这么针对
md = md.drop([19730, 29503, 35587])

In [31]:
md.shape

(45463, 25)

In [32]:
md

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995
5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995
6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995
7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995
8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995
10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,1995
11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,1995
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995
13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,1995
14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,1995
15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,1995
16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,1995
17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,1995
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,1995
19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,1995
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,1995
21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,1995
22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,1995
23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,1995
24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,1995
25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,1995
26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,1995
27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0,1995
28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,1995
29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45436,False,NaN,0,"[Action, Mystery, Thriller, Horror]",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0,2010
45437,False,NaN,0,"[Family, Animation, Romance, Comedy]",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017
45438,False,NaN,0,[Drama],NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0,2015
45439,False,NaN,0,"[Drama, Fantasy, Horror]",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0,1944
45440,False,NaN,0,"[Drama, Family, TV Movie]",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0,2007
45441,False,NaN,0,[Comedy],NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,2002
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0,1905
45443,False,NaN,0,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0,1901
45444,False,NaN,0,[Fantasy],NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0,1905
45445,False,NaN,0,"[Fantasy, Comedy]",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0,1906
45446,False,NaN,0,"[Fantasy, Comedy]",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0,1909
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0,1904
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0,1904
45449,False,NaN,0,"[Animation, Family]",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,2005
45450,False,NaN,0,"[Fantasy, Action, Thriller]",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0,1900
45451,False,NaN,0,"[Comedy, Fantasy]",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0,1900
45452,False,NaN,0,[Documentary],NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0,1981
45453,False,NaN,0,"[Crime, Drama, Thriller]",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0,2017
45454,False,NaN,0,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0,2015
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0,1972
45456,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,1946
45457,False,NaN,0,"[Mystery, Horror]",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,2000
45458,False,NaN,0,[Horror],NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,2000
45459,False,NaN,0,[Science Fiction],NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,1995
45460,False,NaN,0,"[Drama, Action, Romance]",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,1991
45461,False,NaN,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaT
45462,False,NaN,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,2011
45463,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,1917
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017

In [33]:
# 把id这一栏的类型转换一下
md['id'] = md['id'].astype('int')

In [34]:
# isin函数，Return boolean DataFrame showing whether each element in the DataFrame is contained in values.
# 返回是布尔值，来表示前面的部分中的每个元素是否包含你传递进来的参数
# 所以这里smd得到的是md中在links_small中出现过的部分
smd = md[md['id'].isin(links)]
smd.shape

(9099, 25)

In [35]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [36]:
smd['tagline'].head(10)

0
1            Roll the dice and unleash the excitement!
2    Still Yelling. Still Fighting. Still Ready for...
3    Friends are the people who let you be yourself...
4    Just When His World Is Back To Normal... He's ...
5                             A Los Angeles Crime Saga
6    You are cordially invited to the most surprisi...
7                               The Original Bad Boys.
8                           Terror goes into overtime.
9                 No limits. No fears. No substitutes.
Name: tagline, dtype: object

In [37]:
smd['overview'].head(10)

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
5    Obsessive master thief, Neil McCauley leads a ...
6    An ugly duckling having undergone a remarkable...
7    A mischievous young boy, Tom Sawyer, witnesses...
8    International action superstar Jean Claude Van...
9    James Bond must unmask the mysterious head of ...
Name: overview, dtype: object

In [38]:
smd['tagline'].head(10)

0
1            Roll the dice and unleash the excitement!
2    Still Yelling. Still Fighting. Still Ready for...
3    Friends are the people who let you be yourself...
4    Just When His World Is Back To Normal... He's ...
5                             A Los Angeles Crime Saga
6    You are cordially invited to the most surprisi...
7                               The Original Bad Boys.
8                           Terror goes into overtime.
9                 No limits. No fears. No substitutes.
Name: tagline, dtype: object

In [39]:
smd['description'].head(10)

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
5    Obsessive master thief, Neil McCauley leads a ...
6    An ugly duckling having undergone a remarkable...
7    A mischievous young boy, Tom Sawyer, witnesses...
8    International action superstar Jean Claude Van...
9    James Bond must unmask the mysterious head of ...
Name: description, dtype: object

In [40]:
# 这里应该在做一个语义分析，TfidfVectorizer是tflearn中的包。
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [41]:
tfidf_matrix.shape

(9099, 268124)

In [42]:
tfidf_matrix

<9099x268124 sparse matrix of type '<class 'numpy.float64'>'
	with 540591 stored elements in Compressed Sparse Row format>

In [43]:
# 这里调用sklearn's linear_kernel来进行计算余弦相似度
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(9099, 9099)

In [44]:
# 现在cosine_s im是一个9099*9099的矩阵，保存了9099个数据两两之间的xiangsid
cosine_sim[0]

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [45]:
type(smd)

pandas.core.frame.DataFrame

In [46]:
# 重新设置索引，并不会drop之前的而是新建
smd = smd.reset_index()
titles = smd['title']
# 这里定义了indices，这里把title作为索引！
indices = pd.Series(smd.index, index=smd['title'])

In [47]:
smd.shape

(9099, 27)

In [48]:
print(smd['title'])
print(smd['title'].shape)
indices

0                                               Toy Story
1                                                 Jumanji
2                                        Grumpier Old Men
3                                       Waiting to Exhale
4                             Father of the Bride Part II
5                                                    Heat
6                                                 Sabrina
7                                            Tom and Huck
8                                            Sudden Death
9                                               GoldenEye
10                                 The American President
11                            Dracula: Dead and Loving It
12                                                  Balto
13                                                  Nixon
14                                       Cutthroat Island
15                                                 Casino
16                                  Sense and Sensibility
17                                             Four Rooms
18                         Ace Ventura: When Nature Calls
19                                            Money Train
20                                             Get Shorty
21                                                Copycat
22                                              Assassins
23                                                 Powder
24                                      Leaving Las Vegas
25                                                Othello
26                                           Now and Then
27                                             Persuasion
28                              The City of Lost Children
29                                         Shanghai Triad
                              ...
9069     Teenage Mutant Ninja Turtles: Out of the Shadows
9070                   Popstar: Never Stop Never Stopping
9071                                      The Conjuring 2
9072                              Approaching the Unknown
9073                                         Ghostbusters
9074                                 Central Intelligence
9075                                         Jason Bourne
9076                                      The Maid's Room
9077                                 The Legend of Tarzan
9078                             The Purge: Election Year
9079                     Mike and Dave Need Wedding Dates
9080                                  Survive and Advance
9081                                             Tallulah
9082                                                Piper
9083                                                Nerve
9084                                My Friend Rockefeller
9085                                            Sunspring
9086                           Author: The JT LeRoy Story
9087                                   Hell or High Water
9088                        Kingsglaive: Final Fantasy XV
9089                                                 Body
9090                         Sharknado 4: The 4th Awakens
9091                       The Last Brickmaker in America
9092                                               Rustom
9093                                         Mohenjo Daro
9094                                        Shin Godzilla
9095    The Beatles: Eight Days a Week - The Touring Y...
9096                        Pokémon: Spell of the Unknown
9097          Pokémon 4Ever: Celebi - Voice of the Forest
9098                                        Force Majeure
Name: title, Length: 9099, dtype: object
(9099,)

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Teenage Mutant Ninja Turtles: Out of the Shadows      9069
Popstar: Never Stop Never Stopping                    9070
The Conjuring 2                                       9071
Approaching the Unknown                               9072
Ghostbusters                                          9073
Central Intelligence                                  9074
Jason Bourne                                          9075
The Maid's Room                                       9076
The Legend of Tarzan                                  9077
The Purge: Election Year                              9078
Mike and Dave Need Wedding Dates                      9079
Survive and Advance                                   9080
Tallulah                                              9081
Piper                                                 9082
Nerve                                                 9083
My Friend Rockefeller                                 9084
Sunspring                                             9085
Author: The JT LeRoy Story                            9086
Hell or High Water                                    9087
Kingsglaive: Final Fantasy XV                         9088
Body                                                  9089
Sharknado 4: The 4th Awakens                          9090
The Last Brickmaker in America                        9091
Rustom                                                9092
Mohenjo Daro                                          9093
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
Pokémon: Spell of the Unknown                         9096
Pokémon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [49]:
indices.shape

(9099,)

In [50]:
# 所以indices在这里应该是全局的，不是传进去的
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [51]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [52]:
get_recommendations('Inception').head(10)

5239                              Cypher
141                                Crumb
6398                         Renaissance
653                            Lone Star
1703                               House
4739                    The Pink Panther
319                                 Cobb
2828    What Ever Happened to Baby Jane?
8867                     Pitch Perfect 2
979          Once Upon a Time in America
Name: title, dtype: object

In [53]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

* 需要进一步优化

In [54]:
credits = pd.read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/credits.csv')
keywords = pd.read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/keywords.csv')

In [55]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710
10,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087
11,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110
12,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408
15,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524
16,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584
17,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5
18,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273
19,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517
20,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...",8012
21,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...",1710
22,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...",9691
23,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...",12665
24,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...",451
25,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...",16420
26,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...",9263
27,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...",17015
28,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902
29,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...",37557
...,...,...,...
45446,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",45527
45447,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",455661
45448,"[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...",327237
45449,"[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...",84710
45450,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",39562
45451,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",14008
45452,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...",44330
45453,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...",49279
45454,"[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...",44333
45455,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...",49277
45456,"[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...",49271
45457,"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",44324
45458,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",122036
45459,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",14885
45460,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280
45461,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",106807
45462,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",276895
45463,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",404604
45464,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",420346
45465,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",67179
45466,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...",84419
45467,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...",390959
45468,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...",289923
45469,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",222848
45470,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [56]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [57]:
md.shape

(45463, 25)

In [58]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
print(md.shape)
md

(46628, 28)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,year,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,1995,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,1995,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,1995,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...","[{'id': 90, 'name': 'paris'}, {'id': 380, 'nam..."
7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,1995,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[]
8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,1995,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,1995,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,1995,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,1995,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[{'id': 3633, 'name': 'dracula'}, {'id': 11931..."
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,1995,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[{'id': 1994, 'name': 'wolf'}, {'id': 6411, 'n..."
13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,1995,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,1995,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,Released,No one stays at the top forever.,Casino,False,7.8,1343.0,1995,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,1995,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,1995,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,1995,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,1995,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...","[{'id': 380, 'name': 'brother brother relation..."
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,1995,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,1995,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[{'id': 796, 'name': 'police brutality'}, {'id..."
22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,1995,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,1995,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[{'id': 7345, 'name': 'dead animal'}, {'id': 1..."
24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,1995,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,1995,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...","[{'id': 497, 'name': 'shakespeare'}, {'id': 93..."
26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,1995,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,Released,NaN,Persuasion,False,7.4,36.0,1995,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[{'id': 1316, 'name': 'captain'}, {'id': 33384..."
28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,1995,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,1995,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...","[{'id': 964, 'name': 'servant'}, {'id': 2311, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46598,False,NaN,0,"[Action, Mystery, Thriller, Horror]",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,Released,"Action, Horror",The Final Storm,False,3.7,11.0,2010,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",[]
46599,False,NaN,0,"[Family, Animation, Romance, Comedy]",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,2017,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...","[{'id': 9673, 'name': 'love'}, {'id': 13130, '..."
46600,False,NaN,0,[Drama],NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0,2015,"[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...","[{'id': 5565, 'name': 'biography'}, {'id': 102..."
46601,False,NaN,0,"[Drama, Fantasy, Horror]",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0,1944,"[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...","[{'id': 208422, 'name': 'paula dupree'}]"
46602,False,NaN,0,"[Drama, Family, TV Movie]",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,Released,NaN,To Be Fat Like Me,False,5.0,12.0,2007,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...","[{'id': 2064, 'name': 'overweight'}, {'id': 10..."
46603,False,NaN,0,[Comedy],NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,2002,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...","[{'id': 171803, 'name': 'military school'}]"
46604,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0,1905,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...","[{'id': 169590, 'name': 'police raid'}]"
46605,False,NaN,0,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,Released,NaN,The Man with the Rubber Head,False,7.6,29.0,1901,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...","[{'id': 10124, 'name': 'laboratory'}, {'id': 1..."
46606,False,NaN,0,[Fantasy],NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,Released,NaN,The Living Playing Cards,False,6.1,8.0,1905,"[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...","[{'id': 2343, 'name': 'magic'}, {'id': 154802,..."
46607,False,NaN,0,"[Fantasy, Comedy]",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,Released,NaN,The Hilarious Posters,False,4.5,2.0,1906,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...","[{'id': 154802, 'name': 'silent film'}, {'id':..."
46608,False,NaN,0,"[Fantasy, Comedy]",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,Released,NaN,The Devilish Tenant,False,6.7,12.0,1909,"[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...","[{'id': 11320, 'name': 'tenant'}, {'id': 15480..."
46609,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,Released,NaN,The Untameable Whiskers,False,6.0,6.0,1904,"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",[]
46610,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,Released,NaN,The Imperceptable Transmutations,False,5.0,2.0,1904,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",[]
46611,False,NaN,0,"[Animation, Family]",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,2005,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...","[{'id': 3335, 'name': 'halloween'}, {'id': 193..."
46612,False,NaN,0,"[Fantasy, Action, Thriller]",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,Released,NaN,The One-Man Band,False,6.5,22.0,1900,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",[]
46613,False,NaN,0,"[Comedy, Fantasy]",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0,1900,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...","[{'id': 5970, 'name': 'wrestling'}, {'id': 607..."
46614,False,NaN,0,[Documentary],NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,Released,NaN,Deep Hearts,False,0.0,0.0,1981,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",[]
46615,False,NaN,0,"[Crime, Drama, Thriller]",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,Released,NaN,Mom,False,6.6,14.0,2017,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[{'id': 155794, 'name': 'physical abuse'}, {'i..."
46616,False,NaN,0,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,Released,What happened last night?,The Morning After,False,4.0,2.0,2015,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",[]
46617,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,Released,NaN,St. Michael Had a Rooster,False,6.0,3.0,1972,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",[]
46618,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,1946,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...","[{'id': 9748, 'name': 'revenge'}, {'id': 9826,..."
46619,False,NaN,0,"[Mystery, Horror]",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,2000,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...","[{'id': 224180, 'name': 'blair witch'}]"
46620,False,NaN,0,[Horror],NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,2000,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...","[{'id': 616, 'name': 'witch'}, {'id': 2035, 'n..."
46621,False,NaN,0,[Science Fiction],NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,Released,NaN,Caged Heat 3000,False,3.5,1.0,1995,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",[]

In [59]:
smd = md[md['id'].isin(links)]
smd.shape

(9219, 28)

In [60]:
# 演员表
smd['cast'].head(10)

0    [{'cast_id': 14, 'character': 'Woody (voice)',...
1    [{'cast_id': 1, 'character': 'Alan Parrish', '...
2    [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3    [{'cast_id': 1, 'character': "Savannah 'Vannah...
4    [{'cast_id': 1, 'character': 'George Banks', '...
5    [{'cast_id': 25, 'character': 'Lt. Vincent Han...
6    [{'cast_id': 1, 'character': 'Linus Larrabee',...
7    [{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...
8    [{'cast_id': 1, 'character': 'Darren Francis T...
9    [{'cast_id': 1, 'character': 'James Bond', 'cr...
Name: cast, dtype: object

In [61]:
# 职员表，这个部分就取导演
smd['crew'].head(10)

0    [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1    [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2    [{'credit_id': '52fe466a9251416c75077a89', 'de...
3    [{'credit_id': '52fe44779251416c91011acb', 'de...
4    [{'credit_id': '52fe44959251416c75039ed7', 'de...
5    [{'credit_id': '52fe4292c3a36847f802916d', 'de...
6    [{'credit_id': '52fe44959251416c75039da9', 'de...
7    [{'credit_id': '52fe46bdc3a36847f810f797', 'de...
8    [{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...
9    [{'credit_id': '52fe426ec3a36847f801e14b', 'de...
Name: crew, dtype: object

In [62]:
# 这个数据帧中的每一行，都是一个str，因此在下面要用literal_eval函数转换成list
type(smd['crew'][0])

str

In [63]:
# literal_eval函数了解一下，比eval安全
type(literal_eval(smd['crew'][0]))

list

In [64]:
# 数据类型大转换
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

* 这部分的数据处理差不多了

In [65]:
# 这个函数，是从crew这一栏中取出导演的数据来
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
# 如果这一栏没有导演，那就返回空咯
    return np.nan

In [66]:
smd['director'] = smd['crew'].apply(get_director)

In [67]:
smd['director']

0                  John Lasseter
1                   Joe Johnston
2                  Howard Deutch
3                Forest Whitaker
4                  Charles Shyer
5                   Michael Mann
6                 Sydney Pollack
7                   Peter Hewitt
8                    Peter Hyams
9                Martin Campbell
10                    Rob Reiner
11                    Mel Brooks
12                   Simon Wells
13                  Oliver Stone
14                  Renny Harlin
15               Martin Scorsese
16                       Ang Lee
17                Allison Anders
18                Steve Oedekerk
19                  Joseph Ruben
20              Barry Sonnenfeld
21                     Jon Amiel
22                Richard Donner
23                  Victor Salva
24                   Mike Figgis
25                 Oliver Parker
26           Lesli Linka Glatter
27                 Roger Michell
28            Jean-Pierre Jeunet
29                   Zhang Yimou
                  ...
39963               Steven Gomez
40019                 Jon M. Chu
40153               Robert Scott
40206                 Dave Green
40231             Akiva Schaffer
40265                  James Wan
40286      Mark Elijah Rosenberg
40317                  Paul Feig
40392    Rawson Marshall Thurber
40455            Paul Greengrass
40456             Michael Walker
40499                David Yates
40500             James DeMonaco
40501             Jake Szymanski
40512              Jonathan Hock
40528                 Sian Heder
40554             Alan Barillaro
40631                Henry Joost
40688            Steffi Kammerer
40717                Oscar Sharp
40787             Jeff Feuerzeig
40831            David Mackenzie
40837              Takeshi Nozue
40920               Robert Olsen
40939        Anthony C. Ferrante
40952             Gregg Champion
41172          Tinu Suresh Desai
41225         Ashutosh Gowariker
41391               Hideaki Anno
41669                 Ron Howard
Name: director, Length: 9219, dtype: object

In [68]:
type(smd)

pandas.core.frame.DataFrame

In [69]:
# 先把输入的cast写好，再取前三，想想能不能合在一起；
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [70]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [71]:
# bytes.replace(old, new[, count])
# 将更大的空格改成小一点的
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [72]:
# 把导演的权重变为原来的三倍，参照这个方式修改其他的权重
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x,x])

In [73]:
# 计算一下每个关键词出现的次数
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [115]:
smd

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,vote_average,vote_count,year,cast,crew,keywords,cast_size,crew_size,director,soup
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,7.7,5415.0,1995,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",13,106,"[johnlasseter, johnlasseter, johnlasseter]",jealousi toy boy friendship friend rivalri boy...
1,1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,...,6.9,2413.0,1995,"[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",26,16,"[joejohnston, joejohnston, joejohnston]",boardgam disappear basedonchildren'sbook newho...
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,...,6.5,92.0,1995,"[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",7,4,"[howarddeutch, howarddeutch, howarddeutch]",fish bestfriend duringcreditssting waltermatth...
3,3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,...,6.1,34.0,1995,"[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",10,10,"[forestwhitaker, forestwhitaker, forestwhitaker]",basedonnovel interracialrelationship singlemot...
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,...,5.7,173.0,1995,"[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",12,7,"[charlesshyer, charlesshyer, charlesshyer]",babi midlifecrisi confid age daughter motherda...
5,5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,...,7.7,1886.0,1995,"[alpacino, robertdeniro, valkilmer]","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[robberi, detect, bank, obsess, chase, shoot, ...",65,71,"[michaelmann, michaelmann, michaelmann]",robberi detect bank obsess chase shoot thief h...
6,6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,...,6.2,141.0,1995,"[harrisonford, juliaormond, gregkinnear]","[{'credit_id': '52fe44959251416c75039da9', 'de...","[pari, brotherbrotherrelationship, chauffeur, ...",57,53,"[sydneypollack, sydneypollack, sydneypollack]",pari brotherbrotherrelationship chauffeur long...
7,7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,...,5.4,45.0,1995,"[jonathantaylorthomas, bradrenfro, rachaelleig...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[],7,4,"[peterhewitt, peterhewitt, peterhewitt]",jonathantaylorthomas bradrenfro rachaelleighco...
8,8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,...,5.5,174.0,1995,"[jean-claudevandamme, powersboothe, dorianhare...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[terrorist, hostag, explos, vicepresid]",6,9,"[peterhyams, peterhyams, peterhyams]",terrorist hostag explos vicepresid jean-claude...
9,9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,6.6,1194.0,1995,"[piercebrosnan, seanbean, izabellascorupco]","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[cuba, falselyaccus, secretident, computerviru...",20,46,"[martincampbell, martincampbell, martincampbell]",cuba falselyaccus secretident computervirus se...
10,10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,...,6.5,199.0,1995,"[michaeldouglas, annettebening, michaelj.fox]","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[whitehous, usapresid, newlov, widow]",18,6,"[robreiner, robreiner, robreiner]",whitehous usapresid newlov widow michaeldougla...
11,11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,...,5.7,210.0,1995,"[leslienielsen, melbrooks, amyyasbeck]","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[dracula, spoof]",11,9,"[melbrooks, melbrooks, melbrooks]",dracula spoof leslienielsen melbrooks amyyasbe...
12,12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,...,7.1,423.0,1995,"[kevinbacon, bobhoskins, bridgetfonda]","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[wolf, alaska, dog, goos, bearattack]",13,14,"[simonwells, simonwells, simonwells]",wolf alaska dog goos bearattack kevinbacon bob...
13,13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,...,7.1,72.0,1995,"[anthonyhopkins, joanallen, powersboothe]","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[usapresid, presidentialelect, watergatescand,...",34,8,"[oliverstone, oliverstone, oliverstone]",usapresid presidentialelect watergatescand bio...
14,14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,...,5.7,137.0,1995,"[geenadavis, matthewmodine, franklangella]","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[exoticisland, treasur, map, ship, scalp, pirat]",31,16,"[rennyharlin, rennyharlin, rennyharlin]",exoticisland treasur map ship scalp pirat geen...
15,15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,...,7.8,1343.0,1995,"[robertdeniro, sharonstone, joepesci]","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[poker, drugabus, 1970s, overdos, illegalprost...",45,10,"[martinscorsese, martinscorsese, martinscorsese]",poker drugabus 1970s overdos illegalprostitut ...
16,16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,...,7.2,364.0,1995,"[katewinslet, emmathompson, hughgrant]","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[bowl, basedonnovel, servant, countrylif, jane...",17,8,"[anglee, anglee, anglee]",bowl basedonnovel servant countrylif janeauste...
17,17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,...,6.5,539.0,1995,"[timroth, antoniobanderas, jenniferbeals]","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[hotel, newyear'sev, witch, bet, hotelroom, sp...",24,88,"[allisonanders, allisonanders, allisonanders]",hotel newyear'sev witch bet hotelroom sperm lo...
18,18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,...,6.1,1128.0,1995,"[jimcarrey, ianmcneice, simoncallow]","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[africa, indigen, humananimalrelationship, bat]",15,11,"[steveoedekerk, steveoedekerk, steveoedekerk]",africa indigen humananimalrelationship bat jim...
19,19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,...,5.4,224.0,1995,"[wesleysnipes, woodyharrelson, jenniferlopez]","[{'credit_id': '52fe44509251416c750305a1', 'de...","[brotherbrotherrelationship, subway, newyorkc,...",15,44,"[josephruben, josephruben, josephruben]",brotherbrotherrelationship subway newyorkc new...
20,20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,...,6.4,305.0,1995,"[johntravolta, genehackman, renerusso]","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[gambl, miami, basedonnovel, job, murder, trav...",16,26,"[barrysonnenfeld, barrysonnenfeld, barrysonnen...",gambl miami basedonnovel job murder travel maf...
21,21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,...,6.5,199.0,1995,"[sigourneyweaver, hollyhunter, willpatton]","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[policebrut, psycholog, policeoper, policeprot...",15,21,"[jonamiel, jonamiel, jonamiel]",policebrut psycholog policeoper policeprotect ...
22,22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,...,6.0,394.0,1995,"[sylvesterstallone, antoniobanderas, juliannem...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[competit, assassin, cia, bank, cat, mexicanst...",17,71,"[richarddonner, richarddonner, richarddonner]",competit assassin cia bank cat mexicanstandoff...
23,23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,...,6.3,143.0,1995,"[marysteenburgen, seanpatrickflanery, lancehen...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[deadanim, shottodeath, teenageboy, heldatgunp...",5,9,"[victorsalva, victorsalva, victorsalva]",deadanim shottodeath teenageboy heldatgunpoint...
24,24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,...,7.1,365.0,1995,"[nicolascage, elisabethshue, juliansands]","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[individu, prostitut, alcohol, casino, loveatf...",14,12,"[mikefiggis, mikefiggis, mikefiggis]",individu prostitut alcohol casino loveatfirsts...
25,25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,...,7.0,33.0,1995,"[laurencefishburne, irènejacob, kennethbranagh]","[{'credit_id': '5462510ec3a368082d000121', 'de...","[shakespear, jealousi, friend]",9,3,"[oliverparker, oliverparker, oliverparker]",shakespear jealousi friend laurencefishburne i...
26,26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,...,6.6,91.0,1995,"[christinaricci, rosieo'donnell, thorabirch]","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[1970s, femalefriendship, comingofag, gynecolo...",16,8,"[leslilinkaglatter, leslilinkaglatter, leslili...",1970s femalefriendship comingofag gynecologist...
27,27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,...,7.4,36.0,1995,"[amandaroot, ciaránhinds, susanfleetwood]","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[captain, napoleonicwar, oldflam]",26,22,"[rogermichell, rogermichell, rogermichell]",captain napoleonicwar oldflam amandaroot ciará...
28,28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,...,7.6,308.0,1995,"[ronperlman, dominiquepinon, judithvittet]","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[clone, dream, island, eye, dystopia, age, fri...",37,21,"[jean-pierrejeunet, jean-pierrejeunet, jean-pi...",clone dream island eye dystopia age friendship...
29,29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,...,6.5,17.0,1995,"[gongli, libao-tian, wangxiaoxiao]","[{'credit_id': '52fe46559251416c910511c9', 'de...","[servant, cabaret, shanghai, diva, uncl, mistr...",6,4,"[zhangyimou, zhangyimou, zhangyimou]",servant cabaret shanghai diva uncl mistress um...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,39963,False,NaN,0,"[Action, Horror, Science Fiction]",NaN,384798,tt2667380,en,Kill Command,...,5.2,203.0,2016,"[vanessakirby, thurelindhardt, davidajala]","[{'credit_id': '598965a89251414bd100e6f5', 'de...","[dystopia, cyberpunk, robot]",11,42,"[stevengomez, stevengomez, stevengomez]",dystopia cyberpunk robot vanessakirby thurelin...
9190,40019,False,"{'id': 382685, 'name': 'Now You See Me Collect...",90000000,"[Action, Adventure, Comedy, Crime, Mystery, Th...",http://nowyouseeme.movie,291805,tt3110958,en,Now You See Me 2,...,6.7,3362.0,2016,"[jesseeisenberg, woodyharrelson, markruffalo]","[{'credit_id': '55a77e329251411e11001568', 'de...","[londonengland, china, magic, secretsocieti, v...",141,92,"[jonm.chu, jonm.chu, jonm.chu]",londonengland china magic secretsocieti vigila...
9191,40153,False,NaN,0,[Horror],NaN,26677,tt0155350,en,The Video Dead,...,5.0,20.0,1987,"[roxannaaugesen, rockyduvall, michaelst.michaels]","[{'credit_id': '52fe4512c3a368484e046f03', 'de...",[zombi],7,9,"[robertscott, robertscott, robertscott]",zombi roxannaaugesen rockyduvall michaelst.mic...
9192,40206,False,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",135000000,"[Fantasy, Action, Adventure, Comedy]",http://www.teenagemutantninjaturtlesmovie.com/,308531,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,...,5.8,984.0,2016,"[meganfox, stephenamell, willarnett]","[{'credit_id': '548315c292514175f5001823', 'de...","[brotherbrotherrelationship, turtl, sequel, ba...",25,14,"[davegreen, davegreen, davegreen]",brotherbrotherrelationship turtl sequel basedo...
9193,40231,False,NaN,0,"[Comedy, Music]",https://www.uphe.com/movies/popstar-never-stop...,341012,tt3960412,en,Popstar: Never Stop Never Stopping,...,6.6,348.0,2016,"[andysamberg, jormataccone, akivaschaffer]","[{'credit_id': '555da498c3a3686934001048', 'de...","[popstar, musician, recordalbum, famous]",111,7,"[akivaschaffer, akivaschaffer, akivaschaffer]",popstar musician recordalbum famous andysamber...
9194,40265,False,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,...,7.0,2018.0,2016,"[patrickwilson, verafarmiga, madisonwolfe]","[{'credit_id': '5327f4c99251411a0d001c70', 'de...","[londonengland, england, 1970s, spirit, single...",30,54,"[jameswan, jameswan, jameswan]",londonengland england 1970s spirit singlemoth ...
9195,40286,False,NaN,0,"[Thriller, Drama, Science Fiction]",NaN,328429,tt2674430,en,Approaching the Unknown,...,5.1,89.0,2016,"[markstrong, lukewilson, sanaalathan]","[{'credit_id': '57216d09c3a368117e001999', 'de...","[mar, spacetravel, spacemiss, space]",7,45,"[markelijahrosenberg, markelijahrosenberg, mar...",mar spacetravel spacemiss space markstrong luk...
9196,40317,False,"{'id': 2980, 'name': 'Ghostbusters Collection'...",144000000,"[Action, Fantasy, Comedy]",http://www.ghostbusters.com/,43074,tt1289401,en,Ghostbusters,...,5.3,2203.0,2016,"[melissamccarthy, kristenwiig, katemckinnon]","[{'credit_id': '543e1b8a0e0a266f7a001970', 'de...","[femalefriendship, reboot, ghost]",75,100,"[paulfeig, paulfeig, paulfeig]",femalefriendship reboot ghost melissamccarthy ...
9197,40392,False,NaN,50000000,"[Action, Comedy]",http://www.centralintelligencemovie.com/,302699,tt1489889,en,Central Intelligence,...,6.2,1699.0,2016,"[dwaynejohnson, kevinhart, amyryan]","[{'credit_id': '552da16d9251413873006694', 'de...","[spi, cia, espionag, highschoolreunion, account]",37,64,"[rawsonmarshallthurber, rawsonmarshallthurber,...",spi cia espionag highschoolreunion account dwa...
9198,40455,False,"{'id': 31562, 'name': 'The Bourne Collection',...",120000000,"[Action, Thriller]",http://www.jasonbournemovie.com,324668,tt4196776,en,Jason Bourne,...,5.9,2386.0,2016,"[mattdamon, aliciavikander, tommyleejones]","[{'credit_id': '552da5e192514174db00514b', 'de...","[assassin, amnesia, flashback]",208,119,"[paulgreengrass, paulgreengrass, paulgreengrass]",assassin amnesia flashback mattdamon aliciavik...
9199,40456,False,NaN,0,[Thriller],NaN,278348,tt2263814,en,The Maid's Room,...,4.8,4.0,2014,"[paulagarcés, annabellasciorra, billcamp]","[{'credit_id': '53a86ce20e0a26144200618d', 'de...",[],10,10,"[michaelwalker, michaelwalker, michaelwalker]",paulagarcés annabellasciorra billcamp michaelw...
9200,40499,False,NaN,180000000,"[Action, Adventure]",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,...,5.5,2488.0,2016,"[alexanderskarsgård, margotrobbie, christophwa...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[africa, feralchild, tarzan, jungl, animalattack]",34,12,"[davidyates, davidyates, davidyates]",africa feralchild tarzan jungl animalattack al...
9201,40500,False,"{'id': 256322, 'name': 'The Purge Collection',...",10000000,"[Action, Horror, Thriller]",http://www.purgeelectionyear.com,316727,tt4094724,en,The Purge: Election Year,...,6.1,1356.0,2016,"[elizabethmitchell, frankgrillo, mykeltiwillia...","[{'credit_id': '54d9f356c3a3687ab50014d6', 'de...","[dystopia, sequel]",69,58,"[jamesdemonaco, jamesdemonaco, jamesdemonaco]",dystopia sequel elizabethmitchell frankgrillo ...
9202,40501,False,NaN,33000000,[Comedy],http://www.foxmovies.com/movies/mike-and-dave-...,316023,tt2823054,en,Mike and Dave Need Wedding Dates,...,5.9,901.0,2016,"[zacefron, adamdevine, annakendrick]","[{'credit_id': '58b9b8ee925141609e00ca24', 'de...","[hawaii, wed, weddingd]",58,21,"[jakeszymanski, jakeszymanski, jakeszymanski]",hawaii wed weddingd zacefron adamdevine annake...
9203,40512,False,NaN,0,[],http://espn.go.com/30for30/film?page=survive%2...,177869,tt2751904,en,Survive and Advance,...,10.0,2.0,2013,[],"[{'credit_id': '547785049251415e1c000cd2', 'de...",[],0,1,"[jonathanhock, jonathanhock, jonathanhock]",jonathanhock jonathanhock jonathanhock
9204,40528,False,NaN,0,"[Comedy, Drama, Romance]",NaN,353571,tt1639084,en,Tallulah,...,6.8,203.0,2016,"[ellenpage, allisonjanney, tammyblanchard]","[{'credit_id': '55c584c09251417a21000d99', 'de...","[gay, babi, van, paint, money, theft, booksign...",24,13,"[sianheder, sianheder, sianheder]",gay babi van paint money theft booksign readin...
9205,40554,False,NaN,0,"[Family, Animation]",http://www.pixar.com/short_films/Theatrical-Sh...,399106,tt5613056,en,Piper,...,8.2,487.0,2016,[],"[{'credit_id': '5744d6b79251417fc90002a4', 'de...","[bird, fear, short]",0,10,"[alanbarillaro, alanbarillaro, alanbarillaro]",bird fear short alanbarillaro alanbarillaro al...
9206,40631,False,NaN,19000000,"[Mystery, Adventure, Crime]",http://www.playnerve.com/,328387,tt3531824,en,Nerve,...,7.1,2262.0,2016,"[emmaroberts, davefranco, emilymeade]","[{'credit_id': '54f4eb529251416acf00058b', 'de...","[basedonnovel, technolog, internet, hack, teen...",22,42,"[henryjoost, henryjoost, henryjoost]",basedonnovel technolog internet hack teenag ne...
9207,40688,False,NaN,0,[Documentary],NaN,368620,tt4465220,en,My Friend Rockefeller,...,6.2,9.0,2015,[],"[{'credit_id': '57763bdb9251417e16001433', 'de...","[biographi, crime, womandirector]",0,2,"[steffikammerer, steffikammerer, steffikammerer]",biographi crime womandirector steffikammerer s...
9208,40717,False,NaN,0,[Science Fiction],NaN,401387,tt5794766,en,Sunspring,...,6.6,7.0,2016,"[thomasmiddleditch, humphreyker, elisabethgray]","[{'credit_id': '576fcf6292514176d30011ce', 'de...",[experimentalfilm],3,12,"[oscarsharp, oscarsharp, oscarsharp]",experimentalfilm thomasmiddleditch humphreyker...
9209,40787,False,NaN,0,[Documentary],NaN,373348,tt5278462,en,Author: The JT LeRoy Story,...,6.2,9.0,2016,"[lauraalbert, brucebenderson, denniscooper]","[{'credit_id': '5675c8bf92514179db0037b2', 'de...",[],6,4,"[jefffeuerzeig, jefffeuerzeig, jefffeuerzeig]",lauraalbert brucebenderson denniscooper jefffe...
9210,40831,False,NaN,12000000,"[Crime, Drama, Thriller, Western]",http://hellorhighwater.movie/,338766,tt2582782,en,Hell or High Water,...,7.2,1304.0,2016,"[jeffbridges, chrispine, benfoster]","[{'credit_id': '5547ee489251415605000103', 'de...","[desper, texa, bankrobb, brother, shoot, carse...",29,56,"[davidmackenzie, davidmackenzie, davidmackenzie]",desper texa bankrobb brother shoot carsetonfir...
9211,40837,False,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[Action, Animation, Adventure, Drama, Fantasy,...",http://www.kingsglaivefinalfantasyxv-movie.com,390734,tt5595168,ja,キングスグレイブ ファイナルファンタジーXV,...,6.8,201.0,2016,"[goayano, shiorikutsuna, ayumifujimura]","[{'credit_id': '56fd1a259251415fa3002309', 'de...","[fight, cgi, basedonvideogam, warrior, anim]",13,5,"[takeshinozue, takeshinozue, takeshinozue]",fight cgi basedonvideogam warrior anim goayano...
9212,40920,False,NaN,0,"[Drama, Thriller]",NaN,314420,tt3732950,en,Body,...,5.0,16.0,2015,"[helenrogers, alexandraturshen, laurenmolina]","[{'credit_id': '54a218a5925141186000079f', 'de...",[mansion],5,4,"[robertolsen, robertolsen, robertolsen]",mansion helenrogers alexandraturshen laurenmol...

In [74]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [75]:
s.count()

12940

In [76]:
# 只出现一次的关键词在推荐的时候没有任何意义，不过这里导演已经被乘以三了，改写时候注意有没有影响到
s = s[s > 1]
s.count()

6709

In [77]:
# 让意思相近的单词视为同一个意思，比如这里的dogs和dog
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [78]:
stemmer.stem('tiger')

'tiger'

In [79]:
# s是关键词，这里过滤所有传递进来的词组在s中出现的，将其存进words中，然后返回words
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [80]:
smd['keywords'].shape

(9219,)

In [81]:
# 调用过滤函数
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'].shape

(9219,)

In [82]:
# 将意思相近的单词过滤
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'].shape

(9219,)

In [83]:
# 转换大小写，并修正空格的问题
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

* 这里的每一行都有很多的关键词，所以过滤之后的行数并没有减少，并且用shape是查看不了的，因为其实不同的关键词被合称了string存储在一起。

In [84]:
smd['keywords']

0        [jealousi, toy, boy, friendship, friend, rival...
1        [boardgam, disappear, basedonchildren'sbook, n...
2                   [fish, bestfriend, duringcreditssting]
3        [basedonnovel, interracialrelationship, single...
4        [babi, midlifecrisi, confid, age, daughter, mo...
5        [robberi, detect, bank, obsess, chase, shoot, ...
6        [pari, brotherbrotherrelationship, chauffeur, ...
7                                                       []
8                  [terrorist, hostag, explos, vicepresid]
9        [cuba, falselyaccus, secretident, computerviru...
10                   [whitehous, usapresid, newlov, widow]
11                                        [dracula, spoof]
12                   [wolf, alaska, dog, goos, bearattack]
13       [usapresid, presidentialelect, watergatescand,...
14        [exoticisland, treasur, map, ship, scalp, pirat]
15       [poker, drugabus, 1970s, overdos, illegalprost...
16       [bowl, basedonnovel, servant, countrylif, jane...
17       [hotel, newyear'sev, witch, bet, hotelroom, sp...
18         [africa, indigen, humananimalrelationship, bat]
19       [brotherbrotherrelationship, subway, newyorkc,...
20       [gambl, miami, basedonnovel, job, murder, trav...
21       [policebrut, psycholog, policeoper, policeprot...
22       [competit, assassin, cia, bank, cat, mexicanst...
23       [deadanim, shottodeath, teenageboy, heldatgunp...
24       [individu, prostitut, alcohol, casino, loveatf...
25                          [shakespear, jealousi, friend]
26       [1970s, femalefriendship, comingofag, gynecolo...
27                       [captain, napoleonicwar, oldflam]
28       [clone, dream, island, eye, dystopia, age, fri...
29       [servant, cabaret, shanghai, diva, uncl, mistr...
                               ...
39963                         [dystopia, cyberpunk, robot]
40019    [londonengland, china, magic, secretsocieti, v...
40153                                              [zombi]
40206    [brotherbrotherrelationship, turtl, sequel, ba...
40231             [popstar, musician, recordalbum, famous]
40265    [londonengland, england, 1970s, spirit, single...
40286                 [mar, spacetravel, spacemiss, space]
40317                    [femalefriendship, reboot, ghost]
40392     [spi, cia, espionag, highschoolreunion, account]
40455                       [assassin, amnesia, flashback]
40456                                                   []
40499    [africa, feralchild, tarzan, jungl, animalattack]
40500                                   [dystopia, sequel]
40501                              [hawaii, wed, weddingd]
40512                                                   []
40528    [gay, babi, van, paint, money, theft, booksign...
40554                                  [bird, fear, short]
40631    [basedonnovel, technolog, internet, hack, teen...
40688                    [biographi, crime, womandirector]
40717                                   [experimentalfilm]
40787                                                   []
40831    [desper, texa, bankrobb, brother, shoot, carse...
40837         [fight, cgi, basedonvideogam, warrior, anim]
40920                                            [mansion]
40939    [sharkattack, sequel, farc, lasvega, creaturef...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391     [monster, godzilla, giantmonst, destruct, kaiju]
41669                                 [music, documentari]
Name: keywords, Length: 9219, dtype: object

In [85]:
smd['cast']

0                         [tomhanks, timallen, donrickles]
1              [robinwilliams, jonathanhyde, kirstendunst]
2                 [waltermatthau, jacklemmon, ann-margret]
3           [whitneyhouston, angelabassett, lorettadevine]
4                  [stevemartin, dianekeaton, martinshort]
5                      [alpacino, robertdeniro, valkilmer]
6                 [harrisonford, juliaormond, gregkinnear]
7        [jonathantaylorthomas, bradrenfro, rachaelleig...
8        [jean-claudevandamme, powersboothe, dorianhare...
9              [piercebrosnan, seanbean, izabellascorupco]
10           [michaeldouglas, annettebening, michaelj.fox]
11                  [leslienielsen, melbrooks, amyyasbeck]
12                  [kevinbacon, bobhoskins, bridgetfonda]
13               [anthonyhopkins, joanallen, powersboothe]
14              [geenadavis, matthewmodine, franklangella]
15                   [robertdeniro, sharonstone, joepesci]
16                  [katewinslet, emmathompson, hughgrant]
17               [timroth, antoniobanderas, jenniferbeals]
18                    [jimcarrey, ianmcneice, simoncallow]
19           [wesleysnipes, woodyharrelson, jenniferlopez]
20                  [johntravolta, genehackman, renerusso]
21              [sigourneyweaver, hollyhunter, willpatton]
22       [sylvesterstallone, antoniobanderas, juliannem...
23       [marysteenburgen, seanpatrickflanery, lancehen...
24               [nicolascage, elisabethshue, juliansands]
25         [laurencefishburne, irènejacob, kennethbranagh]
26            [christinaricci, rosieo'donnell, thorabirch]
27               [amandaroot, ciaránhinds, susanfleetwood]
28              [ronperlman, dominiquepinon, judithvittet]
29                      [gongli, libao-tian, wangxiaoxiao]
                               ...
39963           [vanessakirby, thurelindhardt, davidajala]
40019        [jesseeisenberg, woodyharrelson, markruffalo]
40153    [roxannaaugesen, rockyduvall, michaelst.michaels]
40206                 [meganfox, stephenamell, willarnett]
40231           [andysamberg, jormataccone, akivaschaffer]
40265           [patrickwilson, verafarmiga, madisonwolfe]
40286                [markstrong, lukewilson, sanaalathan]
40317         [melissamccarthy, kristenwiig, katemckinnon]
40392                  [dwaynejohnson, kevinhart, amyryan]
40455           [mattdamon, aliciavikander, tommyleejones]
40456            [paulagarcés, annabellasciorra, billcamp]
40499    [alexanderskarsgård, margotrobbie, christophwa...
40500    [elizabethmitchell, frankgrillo, mykeltiwillia...
40501                 [zacefron, adamdevine, annakendrick]
40512                                                   []
40528           [ellenpage, allisonjanney, tammyblanchard]
40554                                                   []
40631                [emmaroberts, davefranco, emilymeade]
40688                                                   []
40717      [thomasmiddleditch, humphreyker, elisabethgray]
40787          [lauraalbert, brucebenderson, denniscooper]
40831                  [jeffbridges, chrispine, benfoster]
40837              [goayano, shiorikutsuna, ayumifujimura]
40920        [helenrogers, alexandraturshen, laurenmolina]
40939              [ianziering, tarareid, davidhasselhoff]
40952          [sidneypoitier, wendycrewson, jayo.sanders]
41172               [akshaykumar, ileanad'cruz, eshagupta]
41225               [hrithikroshan, poojahegde, kabirbedi]
41391    [hirokihasegawa, yutakatakenouchi, satomiishih...
41669              [paulmccartney, ringostarr, johnlennon]
Name: cast, Length: 9219, dtype: object

In [86]:
smd['director']

0               [johnlasseter, johnlasseter, johnlasseter]
1                  [joejohnston, joejohnston, joejohnston]
2               [howarddeutch, howarddeutch, howarddeutch]
3         [forestwhitaker, forestwhitaker, forestwhitaker]
4               [charlesshyer, charlesshyer, charlesshyer]
5                  [michaelmann, michaelmann, michaelmann]
6            [sydneypollack, sydneypollack, sydneypollack]
7                  [peterhewitt, peterhewitt, peterhewitt]
8                     [peterhyams, peterhyams, peterhyams]
9         [martincampbell, martincampbell, martincampbell]
10                       [robreiner, robreiner, robreiner]
11                       [melbrooks, melbrooks, melbrooks]
12                    [simonwells, simonwells, simonwells]
13                 [oliverstone, oliverstone, oliverstone]
14                 [rennyharlin, rennyharlin, rennyharlin]
15        [martinscorsese, martinscorsese, martinscorsese]
16                                [anglee, anglee, anglee]
17           [allisonanders, allisonanders, allisonanders]
18           [steveoedekerk, steveoedekerk, steveoedekerk]
19                 [josephruben, josephruben, josephruben]
20       [barrysonnenfeld, barrysonnenfeld, barrysonnen...
21                          [jonamiel, jonamiel, jonamiel]
22           [richarddonner, richarddonner, richarddonner]
23                 [victorsalva, victorsalva, victorsalva]
24                    [mikefiggis, mikefiggis, mikefiggis]
25              [oliverparker, oliverparker, oliverparker]
26       [leslilinkaglatter, leslilinkaglatter, leslili...
27              [rogermichell, rogermichell, rogermichell]
28       [jean-pierrejeunet, jean-pierrejeunet, jean-pi...
29                    [zhangyimou, zhangyimou, zhangyimou]
                               ...
39963              [stevengomez, stevengomez, stevengomez]
40019                       [jonm.chu, jonm.chu, jonm.chu]
40153              [robertscott, robertscott, robertscott]
40206                    [davegreen, davegreen, davegreen]
40231        [akivaschaffer, akivaschaffer, akivaschaffer]
40265                       [jameswan, jameswan, jameswan]
40286    [markelijahrosenberg, markelijahrosenberg, mar...
40317                       [paulfeig, paulfeig, paulfeig]
40392    [rawsonmarshallthurber, rawsonmarshallthurber,...
40455     [paulgreengrass, paulgreengrass, paulgreengrass]
40456        [michaelwalker, michaelwalker, michaelwalker]
40499                 [davidyates, davidyates, davidyates]
40500        [jamesdemonaco, jamesdemonaco, jamesdemonaco]
40501        [jakeszymanski, jakeszymanski, jakeszymanski]
40512           [jonathanhock, jonathanhock, jonathanhock]
40528                    [sianheder, sianheder, sianheder]
40554        [alanbarillaro, alanbarillaro, alanbarillaro]
40631                 [henryjoost, henryjoost, henryjoost]
40688     [steffikammerer, steffikammerer, steffikammerer]
40717                 [oscarsharp, oscarsharp, oscarsharp]
40787        [jefffeuerzeig, jefffeuerzeig, jefffeuerzeig]
40831     [davidmackenzie, davidmackenzie, davidmackenzie]
40837           [takeshinozue, takeshinozue, takeshinozue]
40920              [robertolsen, robertolsen, robertolsen]
40939    [anthonyc.ferrante, anthonyc.ferrante, anthony...
40952        [greggchampion, greggchampion, greggchampion]
41172    [tinusureshdesai, tinusureshdesai, tinusureshd...
41225    [ashutoshgowariker, ashutoshgowariker, ashutos...
41391              [hideakianno, hideakianno, hideakianno]
41669                    [ronhoward, ronhoward, ronhoward]
Name: director, Length: 9219, dtype: object

In [87]:
smd['genres']

0                              [Animation, Comedy, Family]
1                             [Adventure, Fantasy, Family]
2                                        [Romance, Comedy]
3                                 [Comedy, Drama, Romance]
4                                                 [Comedy]
5                         [Action, Crime, Drama, Thriller]
6                                        [Comedy, Romance]
7                       [Action, Adventure, Drama, Family]
8                            [Action, Adventure, Thriller]
9                            [Adventure, Action, Thriller]
10                                [Comedy, Drama, Romance]
11                                        [Comedy, Horror]
12                          [Family, Animation, Adventure]
13                                        [History, Drama]
14                                     [Action, Adventure]
15                                          [Drama, Crime]
16                                        [Drama, Romance]
17                                         [Crime, Comedy]
18                              [Crime, Comedy, Adventure]
19                                 [Action, Comedy, Crime]
20                               [Comedy, Thriller, Crime]
21                                       [Drama, Thriller]
22                    [Action, Adventure, Crime, Thriller]
23             [Drama, Fantasy, Science Fiction, Thriller]
24                                        [Drama, Romance]
25                                                 [Drama]
26                                 [Comedy, Drama, Family]
27                                        [Drama, Romance]
28                   [Fantasy, Science Fiction, Adventure]
29                                          [Drama, Crime]
                               ...
39963                    [Action, Horror, Science Fiction]
40019    [Action, Adventure, Comedy, Crime, Mystery, Th...
40153                                             [Horror]
40206                 [Fantasy, Action, Adventure, Comedy]
40231                                      [Comedy, Music]
40265                                             [Horror]
40286                   [Thriller, Drama, Science Fiction]
40317                            [Action, Fantasy, Comedy]
40392                                     [Action, Comedy]
40455                                   [Action, Thriller]
40456                                           [Thriller]
40499                                  [Action, Adventure]
40500                           [Action, Horror, Thriller]
40501                                             [Comedy]
40512                                                   []
40528                             [Comedy, Drama, Romance]
40554                                  [Family, Animation]
40631                          [Mystery, Adventure, Crime]
40688                                        [Documentary]
40717                                    [Science Fiction]
40787                                        [Documentary]
40831                    [Crime, Drama, Thriller, Western]
40837    [Action, Animation, Adventure, Drama, Fantasy,...
40920                                    [Drama, Thriller]
40939                    [Comedy, Horror, Science Fiction]
40952                                              [Drama]
41172                                  [Thriller, Romance]
41225                 [Adventure, Drama, History, Romance]
41391    [Action, Adventure, Drama, Horror, Science Fic...
41669                                 [Documentary, Music]
Name: genres, Length: 9219, dtype: object

In [117]:
# 把所有的加在一起，称为soup
smd['soup'] = smd['keywords'] + smd['cast'] + smd['cast'] + smd['director'] + smd['genres'] + smd['genres']
print(smd['soup'])
print(type(smd['soup']))

0       [jealousi, toy, boy, friendship, friend, rival...
1       [boardgam, disappear, basedonchildren'sbook, n...
2       [fish, bestfriend, duringcreditssting, walterm...
3       [basedonnovel, interracialrelationship, single...
4       [babi, midlifecrisi, confid, age, daughter, mo...
5       [robberi, detect, bank, obsess, chase, shoot, ...
6       [pari, brotherbrotherrelationship, chauffeur, ...
7       [jonathantaylorthomas, bradrenfro, rachaelleig...
8       [terrorist, hostag, explos, vicepresid, jean-c...
9       [cuba, falselyaccus, secretident, computerviru...
10      [whitehous, usapresid, newlov, widow, michaeld...
11      [dracula, spoof, leslienielsen, melbrooks, amy...
12      [wolf, alaska, dog, goos, bearattack, kevinbac...
13      [usapresid, presidentialelect, watergatescand,...
14      [exoticisland, treasur, map, ship, scalp, pira...
15      [poker, drugabus, 1970s, overdos, illegalprost...
16      [bowl, basedonnovel, servant, countrylif, jane...
17      [hotel, newyear'sev, witch, bet, hotelroom, sp...
18      [africa, indigen, humananimalrelationship, bat...
19      [brotherbrotherrelationship, subway, newyorkc,...
20      [gambl, miami, basedonnovel, job, murder, trav...
21      [policebrut, psycholog, policeoper, policeprot...
22      [competit, assassin, cia, bank, cat, mexicanst...
23      [deadanim, shottodeath, teenageboy, heldatgunp...
24      [individu, prostitut, alcohol, casino, loveatf...
25      [shakespear, jealousi, friend, laurencefishbur...
26      [1970s, femalefriendship, comingofag, gynecolo...
27      [captain, napoleonicwar, oldflam, amandaroot, ...
28      [clone, dream, island, eye, dystopia, age, fri...
29      [servant, cabaret, shanghai, diva, uncl, mistr...
                              ...
9189    [dystopia, cyberpunk, robot, vanessakirby, thu...
9190    [londonengland, china, magic, secretsocieti, v...
9191    [zombi, roxannaaugesen, rockyduvall, michaelst...
9192    [brotherbrotherrelationship, turtl, sequel, ba...
9193    [popstar, musician, recordalbum, famous, andys...
9194    [londonengland, england, 1970s, spirit, single...
9195    [mar, spacetravel, spacemiss, space, markstron...
9196    [femalefriendship, reboot, ghost, melissamccar...
9197    [spi, cia, espionag, highschoolreunion, accoun...
9198    [assassin, amnesia, flashback, mattdamon, alic...
9199    [paulagarcés, annabellasciorra, billcamp, paul...
9200    [africa, feralchild, tarzan, jungl, animalatta...
9201    [dystopia, sequel, elizabethmitchell, frankgri...
9202    [hawaii, wed, weddingd, zacefron, adamdevine, ...
9203           [jonathanhock, jonathanhock, jonathanhock]
9204    [gay, babi, van, paint, money, theft, booksign...
9205    [bird, fear, short, alanbarillaro, alanbarilla...
9206    [basedonnovel, technolog, internet, hack, teen...
9207    [biographi, crime, womandirector, steffikammer...
9208    [experimentalfilm, thomasmiddleditch, humphrey...
9209    [lauraalbert, brucebenderson, denniscooper, la...
9210    [desper, texa, bankrobb, brother, shoot, carse...
9211    [fight, cgi, basedonvideogam, warrior, anim, g...
9212    [mansion, helenrogers, alexandraturshen, laure...
9213    [sharkattack, sequel, farc, lasvega, creaturef...
9214    [friendship, sidneypoitier, wendycrewson, jayo...
9215    [bollywood, akshaykumar, ileanad'cruz, eshagup...
9216    [bollywood, hrithikroshan, poojahegde, kabirbe...
9217    [monster, godzilla, giantmonst, destruct, kaij...
9218    [music, documentari, paulmccartney, ringostarr...
Name: soup, Length: 9219, dtype: object
<class 'pandas.core.series.Series'>

In [118]:
smd

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,vote_average,vote_count,year,cast,crew,keywords,cast_size,crew_size,director,soup
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,7.7,5415.0,1995,"[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival...",13,106,"[johnlasseter, johnlasseter, johnlasseter]","[jealousi, toy, boy, friendship, friend, rival..."
1,1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,...,6.9,2413.0,1995,"[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[boardgam, disappear, basedonchildren'sbook, n...",26,16,"[joejohnston, joejohnston, joejohnston]","[boardgam, disappear, basedonchildren'sbook, n..."
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,...,6.5,92.0,1995,"[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, bestfriend, duringcreditssting]",7,4,"[howarddeutch, howarddeutch, howarddeutch]","[fish, bestfriend, duringcreditssting, walterm..."
3,3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,...,6.1,34.0,1995,"[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...","[basedonnovel, interracialrelationship, single...",10,10,"[forestwhitaker, forestwhitaker, forestwhitaker]","[basedonnovel, interracialrelationship, single..."
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,...,5.7,173.0,1995,"[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlifecrisi, confid, age, daughter, mo...",12,7,"[charlesshyer, charlesshyer, charlesshyer]","[babi, midlifecrisi, confid, age, daughter, mo..."
5,5,False,NaN,60000000,"[Action, Crime, Drama, Thriller]",NaN,949,tt0113277,en,Heat,...,7.7,1886.0,1995,"[alpacino, robertdeniro, valkilmer]","[{'credit_id': '52fe4292c3a36847f802916d', 'de...","[robberi, detect, bank, obsess, chase, shoot, ...",65,71,"[michaelmann, michaelmann, michaelmann]","[robberi, detect, bank, obsess, chase, shoot, ..."
6,6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,...,6.2,141.0,1995,"[harrisonford, juliaormond, gregkinnear]","[{'credit_id': '52fe44959251416c75039da9', 'de...","[pari, brotherbrotherrelationship, chauffeur, ...",57,53,"[sydneypollack, sydneypollack, sydneypollack]","[pari, brotherbrotherrelationship, chauffeur, ..."
7,7,False,NaN,0,"[Action, Adventure, Drama, Family]",NaN,45325,tt0112302,en,Tom and Huck,...,5.4,45.0,1995,"[jonathantaylorthomas, bradrenfro, rachaelleig...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",[],7,4,"[peterhewitt, peterhewitt, peterhewitt]","[jonathantaylorthomas, bradrenfro, rachaelleig..."
8,8,False,NaN,35000000,"[Action, Adventure, Thriller]",NaN,9091,tt0114576,en,Sudden Death,...,5.5,174.0,1995,"[jean-claudevandamme, powersboothe, dorianhare...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...","[terrorist, hostag, explos, vicepresid]",6,9,"[peterhyams, peterhyams, peterhyams]","[terrorist, hostag, explos, vicepresid, jean-c..."
9,9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[Adventure, Action, Thriller]",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,6.6,1194.0,1995,"[piercebrosnan, seanbean, izabellascorupco]","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...","[cuba, falselyaccus, secretident, computerviru...",20,46,"[martincampbell, martincampbell, martincampbell]","[cuba, falselyaccus, secretident, computerviru..."
10,10,False,NaN,62000000,"[Comedy, Drama, Romance]",NaN,9087,tt0112346,en,The American President,...,6.5,199.0,1995,"[michaeldouglas, annettebening, michaelj.fox]","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...","[whitehous, usapresid, newlov, widow]",18,6,"[robreiner, robreiner, robreiner]","[whitehous, usapresid, newlov, widow, michaeld..."
11,11,False,NaN,0,"[Comedy, Horror]",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,...,5.7,210.0,1995,"[leslienielsen, melbrooks, amyyasbeck]","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...","[dracula, spoof]",11,9,"[melbrooks, melbrooks, melbrooks]","[dracula, spoof, leslienielsen, melbrooks, amy..."
12,12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[Family, Animation, Adventure]",NaN,21032,tt0112453,en,Balto,...,7.1,423.0,1995,"[kevinbacon, bobhoskins, bridgetfonda]","[{'credit_id': '593f24b9c3a3680369002371', 'de...","[wolf, alaska, dog, goos, bearattack]",13,14,"[simonwells, simonwells, simonwells]","[wolf, alaska, dog, goos, bearattack, kevinbac..."
13,13,False,NaN,44000000,"[History, Drama]",NaN,10858,tt0113987,en,Nixon,...,7.1,72.0,1995,"[anthonyhopkins, joanallen, powersboothe]","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...","[usapresid, presidentialelect, watergatescand,...",34,8,"[oliverstone, oliverstone, oliverstone]","[usapresid, presidentialelect, watergatescand,..."
14,14,False,NaN,98000000,"[Action, Adventure]",NaN,1408,tt0112760,en,Cutthroat Island,...,5.7,137.0,1995,"[geenadavis, matthewmodine, franklangella]","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...","[exoticisland, treasur, map, ship, scalp, pirat]",31,16,"[rennyharlin, rennyharlin, rennyharlin]","[exoticisland, treasur, map, ship, scalp, pira..."
15,15,False,NaN,52000000,"[Drama, Crime]",NaN,524,tt0112641,en,Casino,...,7.8,1343.0,1995,"[robertdeniro, sharonstone, joepesci]","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...","[poker, drugabus, 1970s, overdos, illegalprost...",45,10,"[martinscorsese, martinscorsese, martinscorsese]","[poker, drugabus, 1970s, overdos, illegalprost..."
16,16,False,NaN,16500000,"[Drama, Romance]",NaN,4584,tt0114388,en,Sense and Sensibility,...,7.2,364.0,1995,"[katewinslet, emmathompson, hughgrant]","[{'credit_id': '52fe43cec3a36847f807101f', 'de...","[bowl, basedonnovel, servant, countrylif, jane...",17,8,"[anglee, anglee, anglee]","[bowl, basedonnovel, servant, countrylif, jane..."
17,17,False,NaN,4000000,"[Crime, Comedy]",NaN,5,tt0113101,en,Four Rooms,...,6.5,539.0,1995,"[timroth, antoniobanderas, jenniferbeals]","[{'credit_id': '52fe420dc3a36847f800011b', 'de...","[hotel, newyear'sev, witch, bet, hotelroom, sp...",24,88,"[allisonanders, allisonanders, allisonanders]","[hotel, newyear'sev, witch, bet, hotelroom, sp..."
18,18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[Crime, Comedy, Adventure]",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,...,6.1,1128.0,1995,"[jimcarrey, ianmcneice, simoncallow]","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...","[africa, indigen, humananimalrelationship, bat]",15,11,"[steveoedekerk, steveoedekerk, steveoedekerk]","[africa, indigen, humananimalrelationship, bat..."
19,19,False,NaN,60000000,"[Action, Comedy, Crime]",NaN,11517,tt0113845,en,Money Train,...,5.4,224.0,1995,"[wesleysnipes, woodyharrelson, jenniferlopez]","[{'credit_id': '52fe44509251416c750305a1', 'de...","[brotherbrotherrelationship, subway, newyorkc,...",15,44,"[josephruben, josephruben, josephruben]","[brotherbrotherrelationship, subway, newyorkc,..."
20,20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[Comedy, Thriller, Crime]",NaN,8012,tt0113161,en,Get Shorty,...,6.4,305.0,1995,"[johntravolta, genehackman, renerusso]","[{'credit_id': '52fe448dc3a36847f809c729', 'de...","[gambl, miami, basedonnovel, job, murder, trav...",16,26,"[barrysonnenfeld, barrysonnenfeld, barrysonnen...","[gambl, miami, basedonnovel, job, murder, trav..."
21,21,False,NaN,0,"[Drama, Thriller]",NaN,1710,tt0112722,en,Copycat,...,6.5,199.0,1995,"[sigourneyweaver, hollyhunter, willpatton]","[{'credit_id': '52fe430ec3a36847f803722d', 'de...","[policebrut, psycholog, policeoper, policeprot...",15,21,"[jonamiel, jonamiel, jonamiel]","[policebrut, psycholog, policeoper, policeprot..."
22,22,False,NaN,50000000,"[Action, Adventure, Crime, Thriller]",NaN,9691,tt0112401,en,Assassins,...,6.0,394.0,1995,"[sylvesterstallone, antoniobanderas, juliannem...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...","[competit, assassin, cia, bank, cat, mexicanst...",17,71,"[richarddonner, richarddonner, richarddonner]","[competit, assassin, cia, bank, cat, mexicanst..."
23,23,False,NaN,0,"[Drama, Fantasy, Science Fiction, Thriller]",NaN,12665,tt0114168,en,Powder,...,6.3,143.0,1995,"[marysteenburgen, seanpatrickflanery, lancehen...","[{'credit_id': '52fe45129251416c7504ab67', 'de...","[deadanim, shottodeath, teenageboy, heldatgunp...",5,9,"[victorsalva, victorsalva, victorsalva]","[deadanim, shottodeath, teenageboy, heldatgunp..."
24,24,False,NaN,3600000,"[Drama, Romance]",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,...,7.1,365.0,1995,"[nicolascage, elisabethshue, juliansands]","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...","[individu, prostitut, alcohol, casino, loveatf...",14,12,"[mikefiggis, mikefiggis, mikefiggis]","[individu, prostitut, alcohol, casino, loveatf..."
25,25,False,NaN,0,[Drama],NaN,16420,tt0114057,en,Othello,...,7.0,33.0,1995,"[laurencefishburne, irènejacob, kennethbranagh]","[{'credit_id': '5462510ec3a368082d000121', 'de...","[shakespear, jealousi, friend]",9,3,"[oliverparker, oliverparker, oliverparker]","[shakespear, jealousi, friend, laurencefishbur..."
26,26,False,NaN,12000000,"[Comedy, Drama, Family]",NaN,9263,tt0114011,en,Now and Then,...,6.6,91.0,1995,"[christinaricci, rosieo'donnell, thorabirch]","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...","[1970s, femalefriendship, comingofag, gynecolo...",16,8,"[leslilinkaglatter, leslilinkaglatter, leslili...","[1970s, femalefriendship, comingofag, gynecolo..."
27,27,False,NaN,0,"[Drama, Romance]",NaN,17015,tt0114117,en,Persuasion,...,7.4,36.0,1995,"[amandaroot, ciaránhinds, susanfleetwood]","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...","[captain, napoleonicwar, oldflam]",26,22,"[rogermichell, rogermichell, rogermichell]","[captain, napoleonicwar, oldflam, amandaroot, ..."
28,28,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,...,7.6,308.0,1995,"[ronperlman, dominiquepinon, judithvittet]","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...","[clone, dream, island, eye, dystopia, age, fri...",37,21,"[jean-pierrejeunet, jean-pierrejeunet, jean-pi...","[clone, dream, island, eye, dystopia, age, fri..."
29,29,False,NaN,0,"[Drama, Crime]",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,...,6.5,17.0,1995,"[gongli, libao-tian, wangxiaoxiao]","[{'credit_id': '52fe46559251416c910511c9', 'de...","[servant, cabaret, shanghai, diva, uncl, mistr...",6,4,"[zhangyimou, zhangyimou, zhangyimou]","[servant, cabaret, shanghai, diva, uncl, mistr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9189,39963,False,NaN,0,"[Action, Horror, Science Fiction]",NaN,384798,tt2667380,en,Kill Command,...,5.2,203.0,2016,"[vanessakirby, thurelindhardt, davidajala]","[{'credit_id': '598965a89251414bd100e6f5', 'de...","[dystopia, cyberpunk, robot]",11,42,"[stevengomez, stevengomez, stevengomez]","[dystopia, cyberpunk, robot, vanessakirby, thu..."
9190,40019,False,"{'id': 382685, 'name': 'Now You See Me Collect...",90000000,"[Action, Adventure, Comedy, Crime, Mystery, Th...",http://nowyouseeme.movie,291805,tt3110958,en,Now You See Me 2,...,6.7,3362.0,2016,"[jesseeisenberg, woodyharrelson, markruffalo]","[{'credit_id': '55a77e329251411e11001568', 'de...","[londonengland, china, magic, secretsocieti, v...",141,92,"[jonm.chu, jonm.chu, jonm.chu]","[londonengland, china, magic, secretsocieti, v..."
9191,40153,False,NaN,0,[Horror],NaN,26677,tt0155350,en,The Video Dead,...,5.0,20.0,1987,"[roxannaaugesen, rockyduvall, michaelst.michaels]","[{'credit_id': '52fe4512c3a368484e046f03', 'de...",[zombi],7,9,"[robertscott, robertscott, robertscott]","[zombi, roxannaaugesen, rockyduvall, michaelst..."
9192,40206,False,"{'id': 401562, 'name': 'Teenage Mutant Ninja T...",135000000,"[Fantasy, Action, Adventure, Comedy]",http://www.teenagemutantninjaturtlesmovie.com/,308531,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,...,5.8,984.0,2016,"[meganfox, stephenamell, willarnett]","[{'credit_id': '548315c292514175f5001823', 'de...","[brotherbrotherrelationship, turtl, sequel, ba...",25,14,"[davegreen, davegreen, davegreen]","[brotherbrotherrelationship, turtl, sequel, ba..."
9193,40231,False,NaN,0,"[Comedy, Music]",https://www.uphe.com/movies/popstar-never-stop...,341012,tt3960412,en,Popstar: Never Stop Never Stopping,...,6.6,348.0,2016,"[andysamberg, jormataccone, akivaschaffer]","[{'credit_id': '555da498c3a3686934001048', 'de...","[popstar, musician, recordalbum, famous]",111,7,"[akivaschaffer, akivaschaffer, akivaschaffer]","[popstar, musician, recordalbum, famous, andys..."
9194,40265,False,"{'id': 313086, 'name': 'The Conjuring Collecti...",40000000,[Horror],http://www.warnerbros.com/conjuring-2,259693,tt3065204,en,The Conjuring 2,...,7.0,2018.0,2016,"[patrickwilson, verafarmiga, madisonwolfe]","[{'credit_id': '5327f4c99251411a0d001c70', 'de...","[londonengland, england, 1970s, spirit, single...",30,54,"[jameswan, jameswan, jameswan]","[londonengland, england, 1970s, spirit, single..."
9195,40286,False,NaN,0,"[Thriller, Drama, Science Fiction]",NaN,328429,tt2674430,en,Approaching the Unknown,...,5.1,89.0,2016,"[markstrong, lukewilson, sanaalathan]","[{'credit_id': '57216d09c3a368117e001999', 'de...","[mar, spacetravel, spacemiss, space]",7,45,"[markelijahrosenberg, markelijahrosenberg, mar...","[mar, spacetravel, spacemiss, space, markstron..."
9196,40317,False,"{'id': 2980, 'name': 'Ghostbusters Collection'...",144000000,"[Action, Fantasy, Comedy]",http://www.ghostbusters.com/,43074,tt1289401,en,Ghostbusters,...,5.3,2203.0,2016,"[melissamccarthy, kristenwiig, katemckinnon]","[{'credit_id': '543e1b8a0e0a266f7a001970', 'de...","[femalefriendship, reboot, ghost]",75,100,"[paulfeig, paulfeig, paulfeig]","[femalefriendship, reboot, ghost, melissamccar..."
9197,40392,False,NaN,50000000,"[Action, Comedy]",http://www.centralintelligencemovie.com/,302699,tt1489889,en,Central Intelligence,...,6.2,1699.0,2016,"[dwaynejohnson, kevinhart, amyryan]","[{'credit_id': '552da16d9251413873006694', 'de...","[spi, cia, espionag, highschoolreunion, account]",37,64,"[rawsonmarshallthurber, rawsonmarshallthurber,...","[spi, cia, espionag, highschoolreunion, accoun..."
9198,40455,False,"{'id': 31562, 'name': 'The Bourne Collection',...",120000000,"[Action, Thriller]",http://www.jasonbournemovie.com,324668,tt4196776,en,Jason Bourne,...,5.9,2386.0,2016,"[mattdamon, aliciavikander, tommyleejones]","[{'credit_id': '552da5e192514174db00514b', 'de...","[assassin, amnesia, flashback]",208,119,"[paulgreengrass, paulgreengrass, paulgreengrass]","[assassin, amnesia, flashback, mattdamon, alic..."
9199,40456,False,NaN,0,[Thriller],NaN,278348,tt2263814,en,The Maid's Room,...,4.8,4.0,2014,"[paulagarcés, annabellasciorra, billcamp]","[{'credit_id': '53a86ce20e0a26144200618d', 'de...",[],10,10,"[michaelwalker, michaelwalker, michaelwalker]","[paulagarcés, annabellasciorra, billcamp, paul..."
9200,40499,False,NaN,180000000,"[Action, Adventure]",http://legendoftarzan.com,258489,tt0918940,en,The Legend of Tarzan,...,5.5,2488.0,2016,"[alexanderskarsgård, margotrobbie, christophwa...","[{'credit_id': '535a4469c3a36847a900129c', 'de...","[africa, feralchild, tarzan, jungl, animalattack]",34,12,"[davidyates, davidyates, davidyates]","[africa, feralchild, tarzan, jungl, animalatta..."
9201,40500,False,"{'id': 256322, 'name': 'The Purge Collection',...",10000000,"[Action, Horror, Thriller]",http://www.purgeelectionyear.com,316727,tt4094724,en,The Purge: Election Year,...,6.1,1356.0,2016,"[elizabethmitchell, frankgrillo, mykeltiwillia...","[{'credit_id': '54d9f356c3a3687ab50014d6', 'de...","[dystopia, sequel]",69,58,"[jamesdemonaco, jamesdemonaco, jamesdemonaco]","[dystopia, sequel, elizabethmitchell, frankgri..."
9202,40501,False,NaN,33000000,[Comedy],http://www.foxmovies.com/movies/mike-and-dave-...,316023,tt2823054,en,Mike and Dave Need Wedding Dates,...,5.9,901.0,2016,"[zacefron, adamdevine, annakendrick]","[{'credit_id': '58b9b8ee925141609e00ca24', 'de...","[hawaii, wed, weddingd]",58,21,"[jakeszymanski, jakeszymanski, jakeszymanski]","[hawaii, wed, weddingd, zacefron, adamdevine, ..."
9203,40512,False,NaN,0,[],http://espn.go.com/30for30/film?page=survive%2...,177869,tt2751904,en,Survive and Advance,...,10.0,2.0,2013,[],"[{'credit_id': '547785049251415e1c000cd2', 'de...",[],0,1,"[jonathanhock, jonathanhock, jonathanhock]","[jonathanhock, jonathanhock, jonathanhock]"
9204,40528,False,NaN,0,"[Comedy, Drama, Romance]",NaN,353571,tt1639084,en,Tallulah,...,6.8,203.0,2016,"[ellenpage, allisonjanney, tammyblanchard]","[{'credit_id': '55c584c09251417a21000d99', 'de...","[gay, babi, van, paint, money, theft, booksign...",24,13,"[sianheder, sianheder, sianheder]","[gay, babi, van, paint, money, theft, booksign..."
9205,40554,False,NaN,0,"[Family, Animation]",http://www.pixar.com/short_films/Theatrical-Sh...,399106,tt5613056,en,Piper,...,8.2,487.0,2016,[],"[{'credit_id': '5744d6b79251417fc90002a4', 'de...","[bird, fear, short]",0,10,"[alanbarillaro, alanbarillaro, alanbarillaro]","[bird, fear, short, alanbarillaro, alanbarilla..."
9206,40631,False,NaN,19000000,"[Mystery, Adventure, Crime]",http://www.playnerve.com/,328387,tt3531824,en,Nerve,...,7.1,2262.0,2016,"[emmaroberts, davefranco, emilymeade]","[{'credit_id': '54f4eb529251416acf00058b', 'de...","[basedonnovel, technolog, internet, hack, teen...",22,42,"[henryjoost, henryjoost, henryjoost]","[basedonnovel, technolog, internet, hack, teen..."
9207,40688,False,NaN,0,[Documentary],NaN,368620,tt4465220,en,My Friend Rockefeller,...,6.2,9.0,2015,[],"[{'credit_id': '57763bdb9251417e16001433', 'de...","[biographi, crime, womandirector]",0,2,"[steffikammerer, steffikammerer, steffikammerer]","[biographi, crime, womandirector, steffikammer..."
9208,40717,False,NaN,0,[Science Fiction],NaN,401387,tt5794766,en,Sunspring,...,6.6,7.0,2016,"[thomasmiddleditch, humphreyker, elisabethgray]","[{'credit_id': '576fcf6292514176d30011ce', 'de...",[experimentalfilm],3,12,"[oscarsharp, oscarsharp, oscarsharp]","[experimentalfilm, thomasmiddleditch, humphrey..."
9209,40787,False,NaN,0,[Documentary],NaN,373348,tt5278462,en,Author: The JT LeRoy Story,...,6.2,9.0,2016,"[lauraalbert, brucebenderson, denniscooper]","[{'credit_id': '5675c8bf92514179db0037b2', 'de...",[],6,4,"[jefffeuerzeig, jefffeuerzeig, jefffeuerzeig]","[lauraalbert, brucebenderson, denniscooper, la..."
9210,40831,False,NaN,12000000,"[Crime, Drama, Thriller, Western]",http://hellorhighwater.movie/,338766,tt2582782,en,Hell or High Water,...,7.2,1304.0,2016,"[jeffbridges, chrispine, benfoster]","[{'credit_id': '5547ee489251415605000103', 'de...","[desper, texa, bankrobb, brother, shoot, carse...",29,56,"[davidmackenzie, davidmackenzie, davidmackenzie]","[desper, texa, bankrobb, brother, shoot, carse..."
9211,40837,False,"{'id': 140760, 'name': 'Final Fantasy Collecti...",0,"[Action, Animation, Adventure, Drama, Fantasy,...",http://www.kingsglaivefinalfantasyxv-movie.com,390734,tt5595168,ja,キングスグレイブ ファイナルファンタジーXV,...,6.8,201.0,2016,"[goayano, shiorikutsuna, ayumifujimura]","[{'credit_id': '56fd1a259251415fa3002309', 'de...","[fight, cgi, basedonvideogam, warrior, anim]",13,5,"[takeshinozue, takeshinozue, takeshinozue]","[fight, cgi, basedonvideogam, warrior, anim, g..."

In [89]:
help(' '.join)

Help on built-in function join:

join(...) method of builtins.str instance
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [119]:
# S.join函数，把S作为分隔符，join所有iterable对象称为一个str
# 这里就是，通过空格把可迭代对象连接成字符串
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))
print(smd['soup'])
print(type(smd['soup']))

0       jealousi toy boy friendship friend rivalri boy...
1       boardgam disappear basedonchildren'sbook newho...
2       fish bestfriend duringcreditssting waltermatth...
3       basedonnovel interracialrelationship singlemot...
4       babi midlifecrisi confid age daughter motherda...
5       robberi detect bank obsess chase shoot thief h...
6       pari brotherbrotherrelationship chauffeur long...
7       jonathantaylorthomas bradrenfro rachaelleighco...
8       terrorist hostag explos vicepresid jean-claude...
9       cuba falselyaccus secretident computervirus se...
10      whitehous usapresid newlov widow michaeldougla...
11      dracula spoof leslienielsen melbrooks amyyasbe...
12      wolf alaska dog goos bearattack kevinbacon bob...
13      usapresid presidentialelect watergatescand bio...
14      exoticisland treasur map ship scalp pirat geen...
15      poker drugabus 1970s overdos illegalprostitut ...
16      bowl basedonnovel servant countrylif janeauste...
17      hotel newyear'sev witch bet hotelroom sperm lo...
18      africa indigen humananimalrelationship bat jim...
19      brotherbrotherrelationship subway newyorkc new...
20      gambl miami basedonnovel job murder travel maf...
21      policebrut psycholog policeoper policeprotect ...
22      competit assassin cia bank cat mexicanstandoff...
23      deadanim shottodeath teenageboy heldatgunpoint...
24      individu prostitut alcohol casino loveatfirsts...
25      shakespear jealousi friend laurencefishburne i...
26      1970s femalefriendship comingofag gynecologist...
27      captain napoleonicwar oldflam amandaroot ciará...
28      clone dream island eye dystopia age friendship...
29      servant cabaret shanghai diva uncl mistress um...
                              ...
9189    dystopia cyberpunk robot vanessakirby thurelin...
9190    londonengland china magic secretsocieti vigila...
9191    zombi roxannaaugesen rockyduvall michaelst.mic...
9192    brotherbrotherrelationship turtl sequel basedo...
9193    popstar musician recordalbum famous andysamber...
9194    londonengland england 1970s spirit singlemoth ...
9195    mar spacetravel spacemiss space markstrong luk...
9196    femalefriendship reboot ghost melissamccarthy ...
9197    spi cia espionag highschoolreunion account dwa...
9198    assassin amnesia flashback mattdamon aliciavik...
9199    paulagarcés annabellasciorra billcamp paulagar...
9200    africa feralchild tarzan jungl animalattack al...
9201    dystopia sequel elizabethmitchell frankgrillo ...
9202    hawaii wed weddingd zacefron adamdevine annake...
9203               jonathanhock jonathanhock jonathanhock
9204    gay babi van paint money theft booksign readin...
9205    bird fear short alanbarillaro alanbarillaro al...
9206    basedonnovel technolog internet hack teenag ne...
9207    biographi crime womandirector steffikammerer s...
9208    experimentalfilm thomasmiddleditch humphreyker...
9209    lauraalbert brucebenderson denniscooper lauraa...
9210    desper texa bankrobb brother shoot carsetonfir...
9211    fight cgi basedonvideogam warrior anim goayano...
9212    mansion helenrogers alexandraturshen laurenmol...
9213    sharkattack sequel farc lasvega creaturefeatur...
9214    friendship sidneypoitier wendycrewson jayo.san...
9215    bollywood akshaykumar ileanad'cruz eshagupta a...
9216    bollywood hrithikroshan poojahegde kabirbedi h...
9217    monster godzilla giantmonst destruct kaiju hir...
9218    music documentari paulmccartney ringostarr joh...
Name: soup, Length: 9219, dtype: object
<class 'pandas.core.series.Series'>

* [CountVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [120]:
# 这个方法的解释在上方，fit_transform生成一个矩阵
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])
count.get_feature_names()

['11',
 '11 jessicachastain',
 '11 thomashorn',
 '15thcenturi',
 '15thcenturi ottomanempir',
 '15thcenturi tomhulce',
 '16thcenturi',
 '16thcenturi alpacino',
 '16thcenturi catherinemccormack',
 '16thcenturi conquest',
 '16thcenturi drewbarrymore',
 '16thcenturi toshirōmifune',
 '17thcenturi',
 '17thcenturi 3d',
 '17thcenturi anyataylor',
 '17thcenturi douglasfairbanks',
 '17thcenturi song',
 '17thcenturi tatsuyanakadai',
 '18thcenturi',
 '18thcenturi charlesberling',
 '18thcenturi danielday',
 '18thcenturi ghost',
 '18thcenturi indigenouspeopl',
 '18thcenturi learn',
 '18thcenturi liamneeson',
 '18thcenturi murrayabraham',
 '18thcenturi oppositesattract',
 '1910s',
 '1910s careymulligan',
 '1910s christopherreeve',
 '1910s gerardbutler',
 '1910s katewinslet',
 '1910s stuartwhitman',
 '1920s',
 '1920s 1930s',
 '1920s brendanfraser',
 '1920s catincauntaru',
 '1920s janemarch',
 '1920s jenniferjasonleigh',
 '1920s judydavis',
 '1930s',
 '1930s 20thcenturi',
 '1930s billmurray',
 '1930s charliechaplin',
 '1930s christopherwalken',
 '1930s glennford',
 '1930s irenedunne',
 '1930s julieandrews',
 '1930s kevincostner',
 '1930s laurencefishburne',
 '1930s shialabeouf',
 '1930s stephencampbellmoore',
 '1930s tomhanks',
 '1930s vanessaredgrave',
 '1930s woodyallen',
 '1940s',
 '1940s afi',
 '1940s alanrickman',
 '1940s gérardjugnot',
 '1940s humphreybogart',
 '1940s inspiredbytrueev',
 '1940s jennifero',
 '1940s juliajentsch',
 '1940s marlonbrando',
 '1940s melindadillon',
 '1940s mistreat',
 '1940s spencertracy',
 '1940s stevemartin',
 '1940s timrobbins',
 '1940s tomhanks',
 '1950s',
 '1950s 1960s',
 '1950s aarontaylor',
 '1950s boy',
 '1950s cateblanchett',
 '1950s imeldastaunton',
 '1950s jamesstewart',
 '1950s jessicalange',
 '1950s katewinslet',
 '1950s kevinspacey',
 '1950s laxat',
 '1950s leonardodicaprio',
 '1950s miningaccid',
 '1950s mirandarichardson',
 '1950s saoirseronan',
 '1950s steveguttenberg',
 '1950s woodyallen',
 '1960s',
 '1960s anarchiccomedi',
 '1960s cher',
 '1960s clinteastwood',
 '1960s colinfirth',
 '1960s dianelane',
 '1960s evanrachelwood',
 '1960s gorevidal',
 '1960s jamesmcavoy',
 '1960s jeffbridges',
 '1960s joaquinphoenix',
 '1960s johnhurt',
 '1960s johnnydepp',
 '1960s johntravolta',
 '1960s kevincostner',
 '1960s merylstreep',
 '1960s michaelstuhlbarg',
 '1960s mistreat',
 '1960s newspapercolumnist',
 '1960s noahtaylor',
 '1960s oscarisaac',
 '1960s terencestamp',
 '1960s tomberenger',
 '1960s tomcruise',
 '1970s',
 '1970s afghanistan',
 '1970s becominganadult',
 '1970s biographi',
 '1970s bisexu',
 '1970s cabaret',
 '1970s cheat',
 '1970s entertain',
 '1970s evid',
 '1970s factori',
 '1970s femalefriendship',
 '1970s general',
 '1970s ghetto',
 '1970s gun',
 '1970s hostag',
 '1970s infidel',
 '1970s investig',
 '1970s jazz',
 '1970s jazzmusician',
 '1970s kidnap',
 '1970s lossofsenseofr',
 '1970s malefriendship',
 '1970s martinagedeck',
 '1970s massmurd',
 '1970s mayor',
 '1970s music',
 '1970s mutant',
 '1970s nuditi',
 '1970s olympicgam',
 '1970s overdos',
 '1970s polic',
 '1970s portland',
 '1970s privateinvestig',
 '1970s psychoanalysi',
 '1970s puberti',
 '1970s public',
 '1970s puertorican',
 '1970s roommat',
 '1970s secret',
 '1970s sexualrevolut',
 '1970s skyscrap',
 '1970s spirit',
 '1970s texa',
 '1970s thanksgiv',
 '1970s warondrug',
 '1970s wheelchair',
 '1970s womandirector',
 '1970s youth',
 '1980s',
 '1980s alexandrerodrigues',
 '1980s benaffleck',
 '1980s billycampbell',
 '1980s billycrudup',
 '1980s ewanmcgregor',
 '1980s ferdiawalsh',
 '1980s husbandwiferelationship',
 '1980s jamesmcavoy',
 '1980s jesseeisenberg',
 '1980s kodismit',
 '1980s lanceguest',
 '1980s malinåkerman',
 '1980s matthewmcconaughey',
 '1980s merylstreep',
 '1980s michaeldouglas',
 '1980s musictour',
 '1980s rickhearst',
 '1980s samuelanderson',
 '1980s sethrogen',
 '1980s short',
 '1980s steve',
 '1990s',
 '1990s aubreyplaza',
 '1990s jimcarrey',
 '1990s robinwilliams',
 '1995',
 '1995 brankođurić',
 '1995 rescu',
 '1995 stephendillane',
 '19thcenturi',
 '19thcenturi 1980s',
 '19thcenturi 3d',
 '19thcenturi aamirkhan',
 '19thcenturi abrahamlincoln',
 '19thcenturi annesuzuki',
 '19thcenturi carolkane',
 '19thcenturi charlesboyer',
 '19thcenturi chiwetelejiofor',
 '19thcenturi clinteastwood',
 '19thcenturi danielday',
 '19thcenturi digniti',
 '19thcenturi dorothymcguire',
 '19thcenturi dustinhoffman',
 '19thcenturi edharris',
 '19thcenturi emilyblunt',
 '19thcenturi fearofdi',
 '19thcenturi fortun',
 '19thcenturi howardkeel',
 '19thcenturi jackiechan',
 '19thcenturi jamiefoxx',
 '19thcenturi juliaroberts',
 '19thcenturi katebeckinsale',
 '19thcenturi keiraknightley',
 '19thcenturi lawoffic',
 '19thcenturi ralphfiennes',
 '19thcenturi sophiemarceau',
 '19thcenturi struggl',
 '19thcenturi tomcruise',
 '19thcenturi tommyleejones',
 '2000ad',
 '2000ad karlurban',
 '2000ad sylvesterstallone',
 '20thcenturi',
 '20thcenturi judygarland',
 '20thcenturi paulnewman',
 '20thcenturi rebeccapidgeon',
 '21stcenturi',
 '21stcenturi kevinspacey',
 '21stcenturi naomiwatts',
 '21stcenturi post9',
 '21stcenturi robertpattinson',
 '3d',
 '3d 1910s',
 '3d aaroneckhart',
 '3d aaronpaul',
 '3d action',
 '3d adamsandler',
 '3d andyserkis',
 '3d angelinajolie',
 '3d anim',
 '3d animalhorror',
 '3d arnoldschwarzenegger',
 '3d asgard',
 '3d basedonyoungadultnovel',
 '3d benjaminwalker',
 '3d benkingsley',
 '3d benstiller',
 '3d brendanfraser',
 '3d chrisevans',
 '3d chrispine',
 '3d christianbale',
 '3d daisyridley',
 '3d danaykroyd',
 '3d daniellepanabaker',
 '3d danielradcliffe',
 '3d dennisquaid',
 '3d diverg',
 '3d elisabethshue',
 '3d emmabell',
 '3d emot',
 '3d ewanmcgregor',
 '3d idriselba',
 '3d interspeciesrom',
 '3d jackblack',
 '3d jamesfranco',
 '3d jasonclarke',
 '3d jaybaruchel',
 '3d jeffgoldblum',
 '3d jensenackles',
 '3d jeremyrenner',
 '3d johnnydepp',
 '3d johnnyknoxville',
 '3d joshhutcherson',
 '3d keanureeves',
 '3d kellymacdonald',
 '3d kristenbell',
 '3d leonardodicaprio',
 '3d mattlanter',
 '3d meganfox',
 '3d miawasikowska',
 '3d mickeyrourke',
 '3d mikemyers',
 '3d millajovovich',
 '3d neilpatrickharris',
 '3d noahschnapp',
 '3d paulrudd',
 '3d politicalthril',
 '3d proto',
 '3d raymilland',
 '3d rayromano',
 '3d rescueoper',
 '3d richardcarlson',
 '3d robertdowneyjr',
 '3d russellcrowe',
 '3d ryanreynolds',
 '3d samworthington',
 '3d sandrabullock',
 '3d stevecarell',
 '3d sullivanstapleton',
 '3d taylorkitsch',
 '3d teensuperhero',
 '3d tobinbell',
 '3d tommcgrath',
 '3d willsmith',
 '3d zachbraff',
 '50cent',
 '50cent joybryant',
 'aaliyah',
 'aaliyah isaiahwashington',
 'aaliyah margueritemoreau',
 'aamirkhan',
 'aamirkhan gracysingh',
 'aamirkhan kareenakapoor',
 'aamirkhan sonalibendre',
 'aaranthomas',
 'aaranthomas gongli',
 'aarneaksila',
 'aarneaksila joonasberghäll',
 'aarneaksila timoaalto',
 'aaronabrams',
 'aaronabrams carlypope',
 'aaronabrams hilaryswank',
 'aaronabrams miranair',
 'aaronblaise',
 'aaronblaise aaronblaise',
 'aaronblaise adventure',
 'aarondessner',
 'aarondessner mattberninger',
 'aarondessner tomberninger',
 'aarondismuke',
 'aarondismuke caitlinglass',
 'aaroneckhart',
 'aaroneckhart abigailbreslin',
 'aaroneckhart angelabassett',
 'aaroneckhart benkingsley',
 'aaroneckhart benstiller',
 'aaroneckhart briandepalma',
 'aaroneckhart brucerobinson',
 'aaroneckhart helenmirren',
 'aaroneckhart hilaryswank',
 'aaroneckhart jeremynortham',
 'aaroneckhart johnnydepp',
 'aaroneckhart joshhartnett',
 'aaroneckhart juliaroberts',
 'aaroneckhart mariabello',
 'aaroneckhart morganfreeman',
 'aaroneckhart ramónrodríguez',
 'aaroneckhart skipwoods',
 'aaroneckhart stacyedwards',
 'aaroneckhart stevensoderbergh',
 'aaroneckhart thomasjane',
 'aaroneckhart umathurman',
 'aaroneckhart yvonnestrahovski',
 'aaronharvey',
 'aaronharvey aaronharvey',
 'aaronharvey drama',
 'aaronjeffery',
 'aaronjeffery craigmonahan',
 'aaronjeffery hugoweaving',
 'aaronnorris',
 'aaronnorris aaronnorris',
 'aaronnorris action',
 'aaronpaul',
 'aaronpaul dominiccooper',
 'aaronruell',
 'aaronruell jongries',
 'aaronschwartz',
 'aaronschwartz kenanthompson',
 'aaronstanford',
 'aaronstanford kathleenquinlan',
 'aaronswartz',
 'aaronswartz timberners',
 'aarontaylor',
 'aarontaylor johnson',
 'aaronyoo',
 'aaronyoo michaelcera',
 'aaronyoo petersollett',
 'aasifmandvi',
 'aasifmandvi larrycharles',
 'aasifmandvi sachabaroncohen',
 'abandon',
 'abandon brigittefossey',
 'abandon courtcas',
 'abandon dustinhoffman',
 'abandon grizzlybear',
 'abandon lossofeyesight',
 'abandon shipwreck',
 'abandonedhous',
 'abandonedhous remak',
 'abandonedhous serialkil',
 'abandonedmin',
 'abandonedmin johntravolta',
 'abandonedmin piercebrosnan',
 'abbaskiarostami',
 'abbaskiarostami abbaskiarostami',
 'abbaskiarostami drama',
 'abbassayah',
 'abbassayah hosseinmoharami',
 'abbewool',
 'abbewool abbewool',
 'abbewool action',
 'abbiecornish',
 'abbiecornish afonsopoyart',
 'abbiecornish anthonyhopkins',
 'abbiecornish bradleycooper',
 'abbiecornish essiedavis',
 'abbiecornish jenamalone',
 'abbiecornish neilburger',
 'abbiecornish samworthington',
 'abbyepstein',
 'abbyepstein abbyepstein',
 'abbyepstein documentary',
 'abbyepstein inamaygaskin',
 'abdellatifkechiche',
 'abdellatifkechiche abdellatifkechiche',
 'abdellatifkechiche romance',
 'abdolrahmanbagheri',
 'abdolrahmanbagheri afshinkhorshidbakhtiari',
 'abdullrahmanalgohani',
 'abdullrahmanalgohani haifaaal',
 'abdullrahmanalgohani reemabdullah',
 'abelevitow',
 'abelevitow abelevitow',
 'abelevitow fantasy',
 'abelferrara',
 'abelferrara abelferrara',
 'abelferrara carolynmarz',
 'abelferrara crime',
 'abelferrara drama',
 'abelferrara horror',
 'abelferrara thriller',
 'abelgance',
 'abelgance abelgance',
 'abelgance drama',
 'abhingaleya',
 'abhingaleya charlotterampling',
 'abigailbreslin',
 'abigailbreslin camerondiaz',
 'abigailbreslin catherinezeta',
 'abigailbreslin elizabethbanks',
 'abigailbreslin jamespurefoy',
 'abigailbreslin jodiefoster',
 'abigailbreslin joelyrichardson',
 'abigailbreslin nickcassavetes',
 'abigailbreslin scotthicks',
 'abigailbreslin моррисчестнат',
 'abigailclayton',
 'abigailclayton joespinell',
 'abigailclayton williamlustig',
 'abigailhargrove',
 'abigailhargrove bradpitt',
 'abigailhargrove marcforster',
 'abo',
 'abo carlosjacott',
 'abo jayo',
 'abo jeroenkrabbé',
 'abo nan',
 'abo natashahenstridge',
 'aborigin',
 'aborigin aborigin',
 'aborigin guypearce',
 'aborigin indigenouspeopl',
 'aborigin perth',
 'aborigin richardchamberlain',
 'abort',
 'abort cliveowen',
 'abort javierbardem',
 'abort jennifergrey',
 'abort lawrencemonoson',
 'abort lilytomlin',
 'abort seanpenn',
 'abrahamattah',
 'abrahamattah caryfukunaga',
 'abrahamattah idriselba',
 'abrahamlincoln',
 'abrahamlincoln 3d',
 'abrahamlincoln danielday',
 'abrahampolonsky',
 'abrahampolonsky abrahampolonsky',
 'abrahampolonsky drama',
 'abrams',
 'abrams abrams',
 'abrams action',
 'abrams adventure',
 'abrams science',
 'abrams thriller',
 'absurd',
 'absurd dwaynejohnson',
 'absurd jasonstatham',
 'absurd petersellers',
 'absurd stacykeach',
 'abus',
 'abus bittersweet',
 'abus danielcraig',
 'abus kurtrussell',
 'abus linusroache',
 'abus robertredford',
 'abus sidneypoitier',
 'abus woodyharrelson',
 'abusivefath',
 'abusivefath abusivehusband',
 'abusivefath jamesolson',
 'abusivefath penélopecruz',
 'abusivefath repress',
 'abusivehusband',
 'abusivehusband ellarcoltrane',
 'abusivehusband jenniferlopez',
 'abusivehusband juliannehough',
 'abusivehusband kathybates',
 'acapella',
 'acapella annakendrick',
 'accept',
 'accept céciledefrance',
 'accept victorsjöström',
 'accid',
 'accid 1960s',
 'accid abusivefath',
 'accid constancebennett',
 'accid dysfunct',
 'accid emiliaclarke',
 'accid jenniferjones',
 'accid joeledgerton',
 'accid jonfavreau',
 'accid marilynchambers',
 'accid marymcdonnell',
 'accid shawnhatosy',
 'accid simonpegg',
 'accid warrenbeatty',
 'account',
 'account dwaynejohnson',
 'account giuliettamasina',
 'account raúljuliá',
 'acid',
 'acid catrionamaccoll',
 'acid countyfair',
 'acid timconlon',
 'action',
 'action action',
 'action adventure',
 'action animation',
 'action comedy',
 'action crime',
 'action documentary',
 'action drama',
 'action family',
 'action fantasy',
 'action foreign',
 'action history',
 'action horror',
 'action jamiebell',
 'action jean',
 'action music',
 'action mystery',
 'action romance',
 'action science',
 'action thriller',
 'action war',
 'action western',
 'actionhero',
 'actionhero aircraftcarri',
 'actionhero brucewillis',
 'actionhero carlweathers',
 'actionhero corruptcop',
 'actionhero minefield',
 'actionhero sylvesterstallone',
 'actionheroin',
 'actionheroin angelinajolie',
 'actionheroin charlizetheron',
 'activist',
 'activist alecbaldwin',
 'activist irishcathol',
 'activist joechisholm',
 'activist kevinspacey',
 'activist larrykramer',
 'actor',
 'actor arletty',
 'actor bingcrosby',
 'actor chevychase',
 'actor craigwasson',
 'actor dustinhoffman',
 'actor jamescagney',
 'actor jamesfranco',
 'actor jeffdaniels',
 'actor johnhurt',
 'actor johnnydepp',
 'actor jonfavreau',
 'actor katharinehepburn',
 'actor lisamarie',
 'actor mattdamon',
 'actor michaelkeaton',
 'actor nicknolte',
 'actor richardbriers',
 'actor robertdowneyjr',
 'actor sandraoh',
 'actor woodyallen',
 'actress',
 'actress accid',
 'actress actor',
 'actress animalhorror',
 'actress annafaris',
 'actress bettedavis',
 'actress friend',
 'actress jeremypiven',
 'actress johnbarrymore',
 'actress jonathanrhysmeyers',
 'actress judygarland',
 'actress megryan',
 'actress merylstreep',
 'actress mumblegor',
 'actress sarahjessicaparker',
 'actress theresarandle',
 'actress xanderberkeley',
 'adamalleca',
 'adamalleca adamalleca',
 'adamalleca drama',
 'adamarkin',
 'adamarkin jamieleecurtis',
 'adamarkin steveminer',
 'adambaldwin',
 'adambaldwin johnirvin',
 'adambaldwin mattdillon',
 'adambaldwin patrickswayze',
 'adambaldwin vincentd',
 'adambeach',
 'adambeach evanadams',
 'adambeach jessebradford',
 'adambeach peterstormare',
 'adambeach sheldonpeterswolfchild',
 'adambernstein',
 'adambernstein adambernstein',
 'adambernstein comedy',
 'adambousdoukos',
 'adambousdoukos birolünel',
 'adambrody',
 'adambrody johnkrasinski',
 'adambrody jonkasdan',
 'adambrody leightonmeester',
 'adambrody megryan',
 'adambrody michaelealy',
 'adambrody robhuebel',
 'adambrody susannafogel',
 'adambrooks',
 'adambrooks adambrooks',
 'adambrooks comedy',
 'adambrooks drama',
 'adambrooks larrydavid',
 'adambrooks woodyallen',
 'adambutcher',
 'adambutcher campbellscott',
 'adamcampbell',
 'adamcampbell jennifercoolidge',
 'adamcampbell sophiemonk',
 'adamclayton',
 'adamclayton larrymullenjr',
 'adamcurtis',
 'adamcurtis adamcurtis',
 'adamcurtis documentary',
 'adamdevine',
 'adamdevine annakendrick',
 'adamdriver',
 'adamdriver abrams',
 'adamdriver benstiller',
 'adamdriver daisyridley',
 'adamdriver gretagerwig',
 'adamdriver jasonbateman',
 'adamdriver noahbaumbach',
 'adamdriver shawnlevy',
 'adamelliot',
 'adamelliot adamelliot',
 'adamelliot animation',
 'adamgarcia',
 'adamgarcia drewbarrymore',
 'adamgarcia glenneheadly',
 'adamgarcia johngoodman',
 'adamgarcia pennymarshall',
 'adamgoldberg',
 'adamgoldberg caruso',
 'adamgoldberg valkilmer',
 'adamgreer',
 'adamgreer mattletscher',
 'adamgreer richardday',
 'adamhann',
 'adamhann byrd',
 'adamhorovitz',
 'adamhorovitz davidcarradine',
 'adamlamberg',
 'adamlamberg hallietodd',
 'adamlavorgna',
 'adamlavorgna arlenesanford',
 'adamlavorgna jonathantaylorthomas',
 'adamlefevre',
 'adamlefevre brucemacdonald',
 'adamlefevre johnsayles',
 'adamlevine',
 'adamlevine johncarney',
 'adamlevine markruffalo',
 'adammacdonald',
 'adammacdonald adammacdonald',
 'adammacdonald drama',
 'adammarcus',
 'adammarcus adammarcus',
 'adammarcus fantasy',
 'adammason',
 'adammason adammason',
 'adammason horror',
 'adammckay',
 'adammckay action',
 'adammckay adammckay',
 'adammckay comedy',
 'adamo',
 'adamo brian',
 'adamoruggiero',
 'adamoruggiero keithjordan',
 'adampally',
 'adampally miller',
 'adampascal',
 'adampascal rosariodawson',
 'adamrayner',
 'adamrayner danielbenmayor',
 'adamrayner marieavgeropoulos',
 'adamresnick',
 'adamresnick adamresnick',
 'adamresnick comedy',
 'adamrifkin',
 'adamrifkin adamrifkin',
 'adamrifkin comedy',
 'adamroarke',
 'adamroarke jacknicholson',
 'adamroarke johnhough',
 'adamroarke peterfonda',
 'adamrogers',
 'adamrogers adamrogers',
 'adamrogers romance',
 'adamsandler',
 'adamsandler andysamberg',
 'adamsandler benstiller',
 'adamsandler brendanfraser',
 'adamsandler chrisrock',
 'adamsandler danstevens',
 'adamsandler darrenmcgavin',
 'adamsandler doncheadle',
 'adamsandler drewbarrymore',
 'adamsandler emilywatson',
 'adamsandler jackiesandler',
 'adamsandler jacknicholson',
 'adamsandler jamescaan',
 'adamsandler jenniferaniston',
 'adamsandler joeylaurenadams',
 'adamsandler johnturturro',
 'adamsandler katebeckinsale',
 'adamsandler kathybates',
 'adamsandler katieholmes',
 'adamsandler kerirussell',
 'adamsandler kevinjames',
 'adamsandler michaellehmann',
 'adamsandler michellemonaghan',
 'adamsandler patriciaarquette',
 'adamsandler salmahayek',
 'adamsandler sethrogen',
 'adamsandler stevebuscemi',
 'adamsandler susansarandon',
 'adamsandler taylorlautner',
 'adamsandler téaleoni',
 'adamsandler wendimclendon',
 'adamsandler winonaryder',
 'adamscott',
 'adamscott amyadams',
 'adamscott anandtucker',
 'adamscott jenniferwestfeldt',
 'adamscott jerryo',
 'adamscott taylorschilling',
 'adamshankman',
 'adamshankman action',
 'adamshankman adamshankman',
 'adamshankman comedy',
 'adamshankman drama',
 'adamshankman family',
 'adamshankman fantasy',
 'adamsimon',
 'adamsimon adamsimon',
 'adamsimon horror',
 'adamsterling',
 'adamsterling doncheadle',
 'adamsterling tedbraun',
 'adamstorke',
 'adamstorke teripolo',
 'adamtrese',
 'adamtrese alantaylor',
 'adamtrese joshhartnett',
 'adamtrese michaellehmann',
 'adamtrese williamforsythe',
 'adamwest',
 'adamwest burtward',
 'adamwingard',
 'adamwingard adamwingard',
 'adamwingard calvinleereeder',
 'adamwingard horror',
 'adamwingard joeswanberg',
 'adamwingard mystery',
 'adapt',
 'adapt dare',
 'adapt retel',
 'adapt youngadult',
 'adarbeck',
 'adarbeck chriscarey',
 'addict',
 'addict alcohol',
 'addict childkidnap',
 'addict cousin',
 'addict drugaddict',
 'addict druglord',
 'addict dysfunctionalfamili',
 'addict eatingdisord',
 'addict existenti',
 'addict fashion',
 'addict fear',
 'addict friend',
 'addict gang',
 'addict jillclayburgh',
 'addict joint',
 'addict junkyard',
 'addict liar',
 'addict littleboy',
 'addict love',
 'addict lukewilson',
 'addict melaniegriffith',
 'addict parti',
 'addict policeoper',
 'addict raceriot',
 'addict sexaddict',
 'addict vivicaa',
 'adelaideclemens',
 'adelaideclemens leetergesen',
 'adelbencherif',
 'adelbencherif jacquesaudiard',
 'adelbencherif taharrahim',
 'adenyoung',
 'adenyoung saffronburrows',
 'adenyoung sandrineholt',
 'adewaleakinnuoye',
 'adewaleakinnuoye agbaje',
 'adirukun',
 'adirukun basrun',
 'adolesc',
 'adolesc agediffer',
 'adolesc basedonnovel',
 'adolesc brothel',
 'adolesc colombia',
 'adolesc comingofag',
 'adolesc cultureclash',
 'adolesc drugabus',
 'adolesc lie',
 'adolesc parentchildrelationship',
 'adolesc rapmus',
 'adolesc sexism',
 'adolesc sexual',
 'adolesc summercamp',
 'adolesc virgin',
 'adolescentboy',
 'adolescentboy basedonyoungadultnovel',
 'adolescentboy innocencelost',
 'adolfhitl',
 'adolfhitl economi',
 'adolfhitl homosexu',
 'adolfhitl interview',
 'adolfhitl minist',
 'adolfhitl music',
 'adolfhitl nationalsocialistparti',
 'adolfhitl plan',
 'adolfhitl success',
 'adolfhitl timetravel',
 'adolfhitl winstonchurchil',
 'adolfhitler',
 'adolfhitler maxamann',
 'adolfoceli',
 'adolfoceli seanconnery',
 'adolfoceli terenceyoung',
 'adolfoquinones',
 'adolfoquinones michaelchambers',

In [121]:
count_matrix.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [122]:
# 两两组合后的关键词种类还挺多的
count_matrix.toarray().shape

(9219, 115802)

* ！！！！！！！！！！！！！！！！！
* 太慢了，尽量不要跑这个代码
* 看看每一行都有多少个关键词出现了
<pre>
for i in count_matrix.toarray():
    print(sum(i))
</pre>

* 又到了计算余弦相似度的时刻！

In [123]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [124]:
cosine_sim.shape

(9219, 9219)

In [125]:
cosine_sim

array([[1.        , 0.0548151 , 0.05819144, ..., 0.        , 0.        ,
        0.        ],
       [0.0548151 , 1.        , 0.        , ..., 0.05799538, 0.04976341,
        0.        ],
       [0.05819144, 0.        , 1.        , ..., 0.06156761, 0.        ,
        0.        ],
       ...,
       [0.        , 0.05799538, 0.06156761, ..., 1.        , 0.15368205,
        0.        ],
       [0.        , 0.04976341, 0.        , ..., 0.15368205, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [126]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

get_recommendations('The Dark Knight').head(10)

In [127]:
get_recommendations('Mean Girls').head(10)

4763                           Freaky Friday
3319                         Head Over Heels
1329                        The House of Yes
7905                   Mr. Popper's Penguins
6277                        Just Like Heaven
7332              Ghosts of Girlfriends Past
6959               The Spiderwick Chronicles
5152    Confessions of a Teenage Drama Queen
3178                          The Ladies Man
3364                             Unmade Beds
Name: title, dtype: object

In [128]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]   
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [129]:
improved_recommendations('The Dark Knight')

                      title  vote_count  vote_average  year        wr
6623           The Prestige        4510             8  2006  7.758148
8031  The Dark Knight Rises        9263             7  2012  6.921448
6218          Batman Begins        7511             7  2005  6.904127
2085              Following         363             7  1998  6.044272
7133             RockNRolla         851             6  2008  5.744969
7380                Bronson         756             6  2008  5.724609
149                 Hackers         406             6  1995  5.609863
7561            Harry Brown         351             6  2009  5.582529
3492     Kiss of the Dragon         304             6  2001  5.555942
8026     Bullet to the Head         490             5  2013  5.115027

In [130]:
improved_recommendations('Mean Girls')

,title,vote_count,vote_average,year,wr
8477,About Time,2140,7,2013,6.704073
8883,The DUFF,1372,6,2015,5.818541
4763,Freaky Friday,919,6,2003,5.757786
1637,The Parent Trap,768,6,1998,5.727359
6277,Just Like Heaven,595,6,2005,5.681521
6959,The Spiderwick Chronicles,593,6,2008,5.680901
7494,American Pie Presents: The Book of Love,454,5,2009,5.119690
8989,Aloha,704,5,2015,5.093396
7332,Ghosts of Girlfriends Past,716,5,2009,5.092422
7905,Mr. Popper's Penguins,775,5,2011,5.087912

In [131]:
reader = Reader()
type(Reader())

surprise.reader.Reader

In [132]:
ratings = pd.read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [133]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=4)

In [134]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9024
MAE:  0.6930
------------
Fold 2
RMSE: 0.9100
MAE:  0.7009
------------
Fold 3
RMSE: 0.8921
MAE:  0.6870
------------
Fold 4
RMSE: 0.8952
MAE:  0.6896
------------
------------
Mean RMSE: 0.8999
Mean MAE : 0.6926
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.6929776502876126,
                             0.7009304715634009,
                             0.6869864806108749,
                             0.6895799990202357],
                            'rmse': [0.9024406813008724,
                             0.909967293551303,
                             0.8920728995041403,
                             0.8951746474054079]})

In [106]:
trainset = data.build_full_trainset()
svd.train(trainset)

In [107]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [108]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.6582034356809974, details={'was_impossible': False})

In [109]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [110]:
id_map = pd.read_csv('/Users/apple/Desktop/5003-project/moviedata/TMD/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(smd[['title', 'id']], on='id').set_index('title')

In [111]:
indices_map = id_map.set_index('id')

In [112]:
# 对一个用户根据某个电影的评分，选取相似用户，然后取相似用户的电影评分作为结果。
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    print(idx)
    movie_id = id_map.loc[title]['movieId']
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [113]:
hybrid(1, 'Avatar')

7488

,title,vote_count,vote_average,year,id,est
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.054654
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.044575
974,Aliens,3282.0,7.7,1986,679,2.981082
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.899306
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,2.888561
1011,The Terminator,4208.0,7.4,1984,218,2.859003
1668,Return from Witch Mountain,38.0,5.6,1978,14822,2.851036
2014,Fantastic Planet,140.0,7.6,1973,16306,2.772728
344,True Lies,1138.0,6.8,1994,36955,2.678107
1376,Titanic,7770.0,7.5,1997,597,2.665243

In [114]:
hybrid(500, 'Avatar')

7488

,title,vote_count,vote_average,year,id,est
831,Escape to Witch Mountain,60.0,6.5,1975,14821,3.229806
4347,Piranha Part Two: The Spawning,41.0,3.9,1981,31646,3.225193
4017,Hawk the Slayer,13.0,4.5,1980,25628,3.220585
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,3.187033
1011,The Terminator,4208.0,7.4,1984,218,3.170735
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.155243
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.112453
1376,Titanic,7770.0,7.5,1997,597,3.071216
2014,Fantastic Planet,140.0,7.6,1973,16306,3.065125
922,The Abyss,822.0,7.1,1989,2756,3.040994