# 5003 TITLE

* 可以用schema初始化数据类型，但是还需要对应位置，就神烦，不整了，GTMD
* 如果用这个方法，需要在读取数据的时候增加参数schema，这里设置的结构就叫schema，所以直接写schema=schema
* 还需要导入包：`from pyspark.sql.types import *`
* schema写法：`schema = StructType([StructField("id", IntegerType()),StructField("title", StringType()),StructField("tagline", StringType()),StructField("vote_average", FloatType()),StructField("vote_count", IntegerType())])`
* 当你读取csv格式错误的时候，你就加一个`multiLine=True,escape='"'`，专治各种不服

## UDF是解决DataFrame问题的通法😂

In [1]:
# 导入各种用到的包
# 返回值类型支持
from pyspark.sql.types import ArrayType
from pyspark.sql.types import MapType
from pyspark.sql.types import StringType
from pyspark.sql.types import NullType
# UDF模块
from pyspark.sql.functions import udf

* 形如`[{'id': 16,...},{????},]`
* 这次处理的结构大致是list里面含有maps，但是整体的类型又是string。

In [28]:
# 类型转换：
typetransfer = udf(lambda x:eval(x), ArrayType(MapType(StringType(),StringType())))

In [29]:
# 把genres提取出来，再建立一个UDF来实现这个功能。
takegenres = udf(lambda x: [i['name'] for i in x], StringType())

In [31]:
# 去掉外面的中括号，这是上面的代码处理list时候的衍生物
rmbracket = udf(lambda x:','.join(x), StringType())

In [ ]:
bmd4 = bmd3.select('id',takegenres('genres').alias('genres'),'tagline','title','vote_average','vote_count')

# 处理movies_metadata.csv

In [5]:
df1 = spark.read.csv('/Users/apple/Desktop/5003-project/moviedata/TMD/movies_metadata.csv',multiLine=True,escape='"', header=True, inferSchema=True)

In [6]:
# 一眼就能看出来这个具体结构一眼看不出来，那就不看了吧
df1.show()

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|  revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  1995-10-30|373554033|   81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|false|         7.7|      5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  1995-12-15|262797249|  104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|false|         6.9|      2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|  1995-12-22|        0|  101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|false|         6.5|        92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|Cheated on, mistr...|  3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|  1995-12-22| 81452156|  127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|   Waiting to Exhale|false|         6.1|        34|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  1995-02-10| 76578911|  106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|false|         5.7|       173|
|False|                 null|60000000|[{'id': 28, 'name...|                null|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  1995-12-15|187436818|  170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|false|         7.7|      1886|
|False|                 null|58000000|[{'id': 35, 'name...|                null|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  1995-12-15|        0|  127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|false|         6.2|       141|
|False|                 null|       0|[{'id': 28, 'name...|                null|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  1995-12-22|        0|   97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|false|         5.4|        45|
|False|                 null|35000000|[{'id': 28, 'name...|                null| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|  1995-12-22| 64350171|  106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|false|         5.5|       174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|  1995-11-16|352194034|  130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|false|         6.6|      1194|
|False|                 null|62000000|[{'id': 35, 'name...|                null| 9087|tt0112346|               en|The American Pres...|Widowed U.S. pres...|  6.318445|/lymPNGLZgPHuqM29...|[{'name': 'Columb...|[{'iso_3166_1': '...|  1995-11-17|107879496|  106.0|[{'iso_639_1': 'e...|Released|Why can't the mos...|The American Pres...|false|         6.5|       199|
|False|                 null|       0|[{'id': 35, 'name...|                null|12110|tt0112896|               en|Dracula: Dead and...|When a lawyer sho...|  5.430331|/xve4cgfYItnOhtzL...|[{'name': 'Columb...|[{'iso_3166_1': '...|  1995-12-22|        0|   88.0|[{'iso_639_1': 'e...|Released|                null|Dracula: Dead and...|false|         5.7|       210|
|False| {'id': 117693, 'n...|       0|[{'id': 10751, 'n...|                null|21032|tt0112453|               en|               Balto|An outcast half-w...| 12.140733|/gV5PCAVCPNxlOLFM...|[{'name': 'Univer...|[{'iso_3166_1': '...|  1995-12-22| 11348324|   78.0|[{'iso_639_1': 'e...|Released|Part Dog. Part Wo...|               Balto|false|         7.1|       423|
|False|                 null|44000000|[{'id': 36, 'name...|                null|10858|tt0113987|               en|               Nixon|An all-star cast ...|     5.092|/cICkmCEiXRhvZmbu...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  1995-12-22| 13681765|  192.0|[{'iso_639_1': 'e...|Released|Triumphant in Vic...|               Nixon|false|         7.1|        72|
|False|                 null|98000000|[{'id': 28, 'name...|                null| 1408|tt0112760|               en|    Cutthroat Island|Morgan Adams and ...|  7.284477|/odM9973kIv9hcjfH...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  1995-12-22| 10017322|  119.0|[{'iso_639_1': 'e...|Released|The Course Has Be...|    Cutthroat Island|false|         5.7|       137|
|False|                 null|52000000|[{'id': 18, 'name...|                null|  524|tt0112641|               en|              Casino|The life of the g...| 10.137389|/xo517ibXBDdYQY81...|[{'name': 'Univer...|[{'iso_3166_1': '...|  1995-11-22|116112375|  178.0|[{'iso_639_1': 'e...|Released|No one stays at t...|              Casino|false|         7.8|      1343|
|False|                 null|16500000|[{'id': 18, 'name...|                null| 4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|  1995-12-13|135000000|  136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|false|         7.2|       364|
|False|                 null| 4000000|[{'id': 80, 'name...|                null|    5|tt0113101|               en|          Four Rooms|It's Ted the Bell...|  9.026586|/eQs5hh9rxrk1m4xH...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  1995-12-09|  4300000|   98.0|[{'iso_639_1': 'e...|Released|Twelve outrageous...|          Four Rooms|false|         6.5|       539|
|False| {'id': 3167, 'nam...|30000000|[{'id': 80, 'name...|                null| 9273|tt0112281|               en|Ace Ventura: When...|Summoned from an ...|  8.205448|/wRlGnJhEzcxBjvWt...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  1995-11-10|212385533|   90.0|[{'iso_639_1': 'e...|Released|New animals. New ...|Ace Ventura: When...|false|         6.1|      1128|
|False|                 null|60000000|[{'id': 28, 'name...|                null|11517|tt0113845|               en|         Money Train|A vengeful New Yo...|  7.337906|/jSozzzVOR2kfXgTU...|[{'name': 'Columb...|[{'iso_3166_1': '...|  1995-11-21| 35431113|  103.0|[{'iso_639_1': 'e...|Released|Get on, or GET OU...|         Money Train|false|         5.4|       224|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+---------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
only showing top 20 rows

In [13]:
# 看一看这个数据的结构和类型，以及包含哪些特征
print(df1)
print('------------------分界线------------------')
df1.printSchema()
# 有的数据类型并不如你所愿，记得转换

DataFrame[adult: string, belongs_to_collection: string, budget: string, genres: string, homepage: string, id: string, imdb_id: string, original_language: string, original_title: string, overview: string, popularity: string, poster_path: string, production_companies: string, production_countries: string, release_date: string, revenue: bigint, runtime: double, spoken_languages: string, status: string, tagline: string, title: string, video: boolean, vote_average: double, vote_count: int]
------------------分界线------------------
root
 |-- adult: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: long (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- video: boolean (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)

In [17]:
# 抽出我们需要的那些特征,让他们看上去更简洁
bmd = df1.select('genres','id','tagline','title','vote_average','vote_count')
bmd

DataFrame[genres: string, id: string, tagline: string, title: string, vote_average: double, vote_count: int]

In [19]:
# 把id的数据类型转换成int，并放在前面
bmd2 = bmd.select(bmd['id'].astype('int'),'genres','tagline','title','vote_average','vote_count')
bmd2

DataFrame[id: int, genres: string, tagline: string, title: string, vote_average: double, vote_count: int]

In [21]:
# 这里bmd2中genres一列的内容很乱，需要单独处理，取出关键词。
# 使用前面提到的UDF函数来解决这个问题。
bmd2.show()

+-----+--------------------+--------------------+--------------------+------------+----------+
|   id|              genres|             tagline|               title|vote_average|vote_count|
+-----+--------------------+--------------------+--------------------+------------+----------+
|  862|[{'id': 16, 'name...|                null|           Toy Story|         7.7|      5415|
| 8844|[{'id': 12, 'name...|Roll the dice and...|             Jumanji|         6.9|      2413|
|15602|[{'id': 10749, 'n...|Still Yelling. St...|    Grumpier Old Men|         6.5|        92|
|31357|[{'id': 35, 'name...|Friends are the p...|   Waiting to Exhale|         6.1|        34|
|11862|[{'id': 35, 'name...|Just When His Wor...|Father of the Bri...|         5.7|       173|
|  949|[{'id': 28, 'name...|A Los Angeles Cri...|                Heat|         7.7|      1886|
|11860|[{'id': 35, 'name...|You are cordially...|             Sabrina|         6.2|       141|
|45325|[{'id': 28, 'name...|The Original Bad ...|        Tom and Huck|         5.4|        45|
| 9091|[{'id': 28, 'name...|Terror goes into ...|        Sudden Death|         5.5|       174|
|  710|[{'id': 12, 'name...|No limits. No fea...|           GoldenEye|         6.6|      1194|
| 9087|[{'id': 35, 'name...|Why can't the mos...|The American Pres...|         6.5|       199|
|12110|[{'id': 35, 'name...|                null|Dracula: Dead and...|         5.7|       210|
|21032|[{'id': 10751, 'n...|Part Dog. Part Wo...|               Balto|         7.1|       423|
|10858|[{'id': 36, 'name...|Triumphant in Vic...|               Nixon|         7.1|        72|
| 1408|[{'id': 28, 'name...|The Course Has Be...|    Cutthroat Island|         5.7|       137|
|  524|[{'id': 18, 'name...|No one stays at t...|              Casino|         7.8|      1343|
| 4584|[{'id': 18, 'name...|Lose your heart a...|Sense and Sensibi...|         7.2|       364|
|    5|[{'id': 80, 'name...|Twelve outrageous...|          Four Rooms|         6.5|       539|
| 9273|[{'id': 80, 'name...|New animals. New ...|Ace Ventura: When...|         6.1|      1128|
|11517|[{'id': 28, 'name...|Get on, or GET OU...|         Money Train|         5.4|       224|
+-----+--------------------+--------------------+--------------------+------------+----------+
only showing top 20 rows

In [32]:
# 先转换成类型，方便之后的操作
bmd3 = bmd2.select('id',typetransfer('genres').alias('genres'),'tagline','title','vote_average','vote_count')
# 取出关键词
bmd4 = bmd3.select('id',takegenres('genres').alias('genres'),'tagline','title','vote_average','vote_count')
bmd5 = bmd4.select('id',rmbracket('genres').alias('genres'),'tagline','title','vote_average','vote_count')
bmd5.show()

+-----+--------------------+--------------------+--------------------+------------+----------+
|   id|              genres|             tagline|               title|vote_average|vote_count|
+-----+--------------------+--------------------+--------------------+------------+----------+
|  862|Animation,Comedy,...|                null|           Toy Story|         7.7|      5415|
| 8844|Adventure,Fantasy...|Roll the dice and...|             Jumanji|         6.9|      2413|
|15602|      Romance,Comedy|Still Yelling. St...|    Grumpier Old Men|         6.5|        92|
|31357|Comedy,Drama,Romance|Friends are the p...|   Waiting to Exhale|         6.1|        34|
|11862|              Comedy|Just When His Wor...|Father of the Bri...|         5.7|       173|
|  949|Action,Crime,Dram...|A Los Angeles Cri...|                Heat|         7.7|      1886|
|11860|      Comedy,Romance|You are cordially...|             Sabrina|         6.2|       141|
|45325|Action,Adventure,...|The Original Bad ...|        Tom and Huck|         5.4|        45|
| 9091|Action,Adventure,...|Terror goes into ...|        Sudden Death|         5.5|       174|
|  710|Adventure,Action,...|No limits. No fea...|           GoldenEye|         6.6|      1194|
| 9087|Comedy,Drama,Romance|Why can't the mos...|The American Pres...|         6.5|       199|
|12110|       Comedy,Horror|                null|Dracula: Dead and...|         5.7|       210|
|21032|Family,Animation,...|Part Dog. Part Wo...|               Balto|         7.1|       423|
|10858|       History,Drama|Triumphant in Vic...|               Nixon|         7.1|        72|
| 1408|    Action,Adventure|The Course Has Be...|    Cutthroat Island|         5.7|       137|
|  524|         Drama,Crime|No one stays at t...|              Casino|         7.8|      1343|
| 4584|       Drama,Romance|Lose your heart a...|Sense and Sensibi...|         7.2|       364|
|    5|        Crime,Comedy|Twelve outrageous...|          Four Rooms|         6.5|       539|
| 9273|Crime,Comedy,Adve...|New animals. New ...|Ace Ventura: When...|         6.1|      1128|
|11517| Action,Comedy,Crime|Get on, or GET OU...|         Money Train|         5.4|       224|
+-----+--------------------+--------------------+--------------------+------------+----------+
only showing top 20 rows

In [33]:
# 再单独取出一些数据
bmd6 = bmd5.select('id','genres','vote_average','vote_count')
bmd6.show()

+-----+--------------------+------------+----------+
|   id|              genres|vote_average|vote_count|
+-----+--------------------+------------+----------+
|  862|Animation,Comedy,...|         7.7|      5415|
| 8844|Adventure,Fantasy...|         6.9|      2413|
|15602|      Romance,Comedy|         6.5|        92|
|31357|Comedy,Drama,Romance|         6.1|        34|
|11862|              Comedy|         5.7|       173|
|  949|Action,Crime,Dram...|         7.7|      1886|
|11860|      Comedy,Romance|         6.2|       141|
|45325|Action,Adventure,...|         5.4|        45|
| 9091|Action,Adventure,...|         5.5|       174|
|  710|Adventure,Action,...|         6.6|      1194|
| 9087|Comedy,Drama,Romance|         6.5|       199|
|12110|       Comedy,Horror|         5.7|       210|
|21032|Family,Animation,...|         7.1|       423|
|10858|       History,Drama|         7.1|        72|
| 1408|    Action,Adventure|         5.7|       137|
|  524|         Drama,Crime|         7.8|      1343|
| 4584|       Drama,Romance|         7.2|       364|
|    5|        Crime,Comedy|         6.5|       539|
| 9273|Crime,Comedy,Adve...|         6.1|      1128|
|11517| Action,Comedy,Crime|         5.4|       224|
+-----+--------------------+------------+----------+
only showing top 20 rows

In [38]:
# 把genres提取出来，再建立一个UDF来实现这个功能。
takegenres = udf(lambda x: [i['name'] for i in x], StringType())
bmd4 = bmd3.select('id',takegenres('genres').alias('genres'),'tagline','title','vote_average','vote_count')

In [42]:
bmd4.show()

+-----+--------------------+--------------------+--------------------+------------+----------+
|   id|              genres|             tagline|               title|vote_average|vote_count|
+-----+--------------------+--------------------+--------------------+------------+----------+
|  862|[Animation, Comed...|                null|           Toy Story|         7.7|      5415|
| 8844|[Adventure, Fanta...|Roll the dice and...|             Jumanji|         6.9|      2413|
|15602|   [Romance, Comedy]|Still Yelling. St...|    Grumpier Old Men|         6.5|        92|
|31357|[Comedy, Drama, R...|Friends are the p...|   Waiting to Exhale|         6.1|        34|
|11862|            [Comedy]|Just When His Wor...|Father of the Bri...|         5.7|       173|
|  949|[Action, Crime, D...|A Los Angeles Cri...|                Heat|         7.7|      1886|
|11860|   [Comedy, Romance]|You are cordially...|             Sabrina|         6.2|       141|
|45325|[Action, Adventur...|The Original Bad ...|        Tom and Huck|         5.4|        45|
| 9091|[Action, Adventur...|Terror goes into ...|        Sudden Death|         5.5|       174|
|  710|[Adventure, Actio...|No limits. No fea...|           GoldenEye|         6.6|      1194|
| 9087|[Comedy, Drama, R...|Why can't the mos...|The American Pres...|         6.5|       199|
|12110|    [Comedy, Horror]|                null|Dracula: Dead and...|         5.7|       210|
|21032|[Family, Animatio...|Part Dog. Part Wo...|               Balto|         7.1|       423|
|10858|    [History, Drama]|Triumphant in Vic...|               Nixon|         7.1|        72|
| 1408| [Action, Adventure]|The Course Has Be...|    Cutthroat Island|         5.7|       137|
|  524|      [Drama, Crime]|No one stays at t...|              Casino|         7.8|      1343|
| 4584|    [Drama, Romance]|Lose your heart a...|Sense and Sensibi...|         7.2|       364|
|    5|     [Crime, Comedy]|Twelve outrageous...|          Four Rooms|         6.5|       539|
| 9273|[Crime, Comedy, A...|New animals. New ...|Ace Ventura: When...|         6.1|      1128|
|11517|[Action, Comedy, ...|Get on, or GET OU...|         Money Train|         5.4|       224|
+-----+--------------------+--------------------+--------------------+------------+----------+
only showing top 20 rows

In [15]:
bmd4.dtypes

[('id', 'int'), ('genres', 'string'), ('tagline', 'string'), ('title', 'string'), ('vote_average', 'double'), ('vote_count', 'int')]

In [52]:
bmd5 = bmd4.select('id',typetransfer2str('genres').alias('genres'),'vote_average','vote_count')
bmd5.show()

+-----+--------------------+------------+----------+
|   id|              genres|vote_average|vote_count|
+-----+--------------------+------------+----------+
|  862|Animation,Comedy,...|         7.7|      5415|
| 8844|Adventure,Fantasy...|         6.9|      2413|
|15602|      Romance,Comedy|         6.5|        92|
|31357|Comedy,Drama,Romance|         6.1|        34|
|11862|              Comedy|         5.7|       173|
|  949|Action,Crime,Dram...|         7.7|      1886|
|11860|      Comedy,Romance|         6.2|       141|
|45325|Action,Adventure,...|         5.4|        45|
| 9091|Action,Adventure,...|         5.5|       174|
|  710|Adventure,Action,...|         6.6|      1194|
| 9087|Comedy,Drama,Romance|         6.5|       199|
|12110|       Comedy,Horror|         5.7|       210|
|21032|Family,Animation,...|         7.1|       423|
|10858|       History,Drama|         7.1|        72|
| 1408|    Action,Adventure|         5.7|       137|
|  524|         Drama,Crime|         7.8|      1343|
| 4584|       Drama,Romance|         7.2|       364|
|    5|        Crime,Comedy|         6.5|       539|
| 9273|Crime,Comedy,Adve...|         6.1|      1128|
|11517| Action,Comedy,Crime|         5.4|       224|
+-----+--------------------+------------+----------+
only showing top 20 rows

_______________________________________________________________

In [17]:
cres = spark.read.csv('/Users/apple/Desktop/5003-project/moviedata/TMD/credits.csv',multiLine=True,escape='"', header=True, inferSchema=True)

In [18]:
cres.show()

+--------------------+--------------------+-----+
|                cast|                crew|   id|
+--------------------+--------------------+-----+
|[{'cast_id': 14, ...|[{'credit_id': '5...|  862|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 8844|
|[{'cast_id': 2, '...|[{'credit_id': '5...|15602|
|[{'cast_id': 1, '...|[{'credit_id': '5...|31357|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11862|
|[{'cast_id': 25, ...|[{'credit_id': '5...|  949|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11860|
|[{'cast_id': 2, '...|[{'credit_id': '5...|45325|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9091|
|[{'cast_id': 1, '...|[{'credit_id': '5...|  710|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9087|
|[{'cast_id': 9, '...|[{'credit_id': '5...|12110|
|[{'cast_id': 1, '...|[{'credit_id': '5...|21032|
|[{'cast_id': 1, '...|[{'credit_id': '5...|10858|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 1408|
|[{'cast_id': 4, '...|[{'credit_id': '5...|  524|
|[{'cast_id': 6, '...|[{'credit_id': '5...| 4584|
|[{'cast_id': 42, ...|[{'credit_id': '5...|    5|
|[{'cast_id': 1, '...|[{'credit_id': '5...| 9273|
|[{'cast_id': 1, '...|[{'credit_id': '5...|11517|
+--------------------+--------------------+-----+
only showing top 20 rows

cres的数据类型：

`DataFrame[cast: string, crew: string, id: int]`

* 也要对这个部分做一样的操作，取出导演和主演

In [19]:
transfer2 = udf(lambda x:eval(x), ArrayType(MapType(StringType(),StringType())))

In [20]:
getdirector = udf(lambda x:[i['name'] for i in x if i['job'] == 'Director'],StringType())

In [21]:
getcharacter = udf(lambda x:[i['name'] for i in x],StringType())

In [22]:
cres2 = cres.select('id',transfer2('cast').alias('cast'),transfer2('crew').alias('crew'))
cres2.dtypes

[('id', 'int'), ('cast', 'array<map<string,string>>'), ('crew', 'array<map<string,string>>')]

In [23]:
cres3 = cres2.select('id',getcharacter('cast').alias('Character'),getdirector('crew').alias('Director'))
cres3.show()

+-----+--------------------+--------------------+
|   id|           Character|            Director|
+-----+--------------------+--------------------+
|  862|[Tom Hanks, Tim A...|     [John Lasseter]|
| 8844|[Robin Williams, ...|      [Joe Johnston]|
|15602|[Walter Matthau, ...|     [Howard Deutch]|
|31357|[Whitney Houston,...|   [Forest Whitaker]|
|11862|[Steve Martin, Di...|     [Charles Shyer]|
|  949|[Al Pacino, Rober...|      [Michael Mann]|
|11860|[Harrison Ford, J...|    [Sydney Pollack]|
|45325|[Jonathan Taylor ...|      [Peter Hewitt]|
| 9091|[Jean-Claude Van ...|       [Peter Hyams]|
|  710|[Pierce Brosnan, ...|   [Martin Campbell]|
| 9087|[Michael Douglas,...|        [Rob Reiner]|
|12110|[Leslie Nielsen, ...|        [Mel Brooks]|
|21032|[Kevin Bacon, Bob...|       [Simon Wells]|
|10858|[Anthony Hopkins,...|      [Oliver Stone]|
| 1408|[Geena Davis, Mat...|      [Renny Harlin]|
|  524|[Robert De Niro, ...|   [Martin Scorsese]|
| 4584|[Kate Winslet, Em...|           [Ang Lee]|
|    5|[Tim Roth, Antoni...|[Allison Anders, ...|
| 9273|[Jim Carrey, Ian ...|    [Steve Oedekerk]|
|11517|[Wesley Snipes, W...|      [Joseph Ruben]|
+-----+--------------------+--------------------+
only showing top 20 rows

_______________________________________________________________

In [24]:
kws = spark.read.csv('/Users/apple/Desktop/5003-project/moviedata/TMD/keywords.csv',multiLine=True,escape='"', header=True, inferSchema=True)

In [25]:
kws.show()

+-----+--------------------+
|   id|            keywords|
+-----+--------------------+
|  862|[{'id': 931, 'nam...|
| 8844|[{'id': 10090, 'n...|
|15602|[{'id': 1495, 'na...|
|31357|[{'id': 818, 'nam...|
|11862|[{'id': 1009, 'na...|
|  949|[{'id': 642, 'nam...|
|11860|[{'id': 90, 'name...|
|45325|                  []|
| 9091|[{'id': 949, 'nam...|
|  710|[{'id': 701, 'nam...|
| 9087|[{'id': 833, 'nam...|
|12110|[{'id': 3633, 'na...|
|21032|[{'id': 1994, 'na...|
|10858|[{'id': 840, 'nam...|
| 1408|[{'id': 911, 'nam...|
|  524|[{'id': 383, 'nam...|
| 4584|[{'id': 420, 'nam...|
|    5|[{'id': 612, 'nam...|
| 9273|[{'id': 409, 'nam...|
|11517|[{'id': 380, 'nam...|
+-----+--------------------+
only showing top 20 rows

In [27]:
getkws = udf(lambda x:[i['name'] for i in x],StringType())

In [28]:
kws= kws.select('id',getcharacter('keywords').alias('keywords'))
kws.show()

+-----+--------------------+
|   id|            keywords|
+-----+--------------------+
|  862|[jealousy, toy, b...|
| 8844|[board game, disa...|
|15602|[fishing, best fr...|
|31357|[based on novel, ...|
|11862|[baby, midlife cr...|
|  949|[robbery, detecti...|
|11860|[paris, brother b...|
|45325|                  []|
| 9091|[terrorist, hosta...|
|  710|[cuba, falsely ac...|
| 9087|[white house, usa...|
|12110|    [dracula, spoof]|
|21032|[wolf, dog-sleddi...|
|10858|[usa president, p...|
| 1408|[exotic island, t...|
|  524|[poker, drug abus...|
| 4584|[bowling, based o...|
|    5|[hotel, new year'...|
| 9273|[africa, indigeno...|
|11517|[brother brother ...|
+-----+--------------------+
only showing top 20 rows

kws的数据类型：

`DataFrame[id: int, keywords: string]`

In [26]:
kws = kws.select('id',transfer2('keywords').alias('keywords'))
kws.dtypes

[('id', 'int'), ('keywords', 'array<map<string,string>>')]

In [11]:
df2 = spark.read.csv('/Users/apple/Desktop/5003-project/moviedata/TMD/ratings.csv',multiLine=True,escape='"', header=True, inferSchema=True)

In [12]:
rats = df2.select(df2['userId'].alias('id'),'movieID','rating')
rats.show()

+---+-------+------+
| id|movieID|rating|
+---+-------+------+
|  1|    110|   1.0|
|  1|    147|   4.5|
|  1|    858|   5.0|
|  1|   1221|   5.0|
|  1|   1246|   5.0|
|  1|   1968|   4.0|
|  1|   2762|   4.5|
|  1|   2918|   5.0|
|  1|   2959|   4.0|
|  1|   4226|   4.0|
|  1|   4878|   5.0|
|  1|   5577|   5.0|
|  1|  33794|   4.0|
|  1|  54503|   3.5|
|  1|  58559|   4.0|
|  1|  59315|   5.0|
|  1|  68358|   5.0|
|  1|  69844|   5.0|
|  1|  73017|   5.0|
|  1|  81834|   5.0|
+---+-------+------+
only showing top 20 rows

In [13]:
rats.cache()

DataFrame[id: int, movieID: int, rating: double]

rats的数据类型：

`DataFrame[id: int, movieID: int, rating: double]`

### 到这个部分，所有的数据都读取进来，完成了清理，并转换成了需要的格式！

* 新的数据预处理部分

In [23]:
tomap = udf(lambda s: eval(s), ArrayType(MapType(StringType(),StringType())))

In [13]:
bmd2.show()

+--------------------+-----+--------------------+--------------------+------------+----------+
|              genres|   id|             tagline|               title|vote_average|vote_count|
+--------------------+-----+--------------------+--------------------+------------+----------+
|[{'id': 16, 'name...|  862|                null|           Toy Story|         7.7|      5415|
|[{'id': 12, 'name...| 8844|Roll the dice and...|             Jumanji|         6.9|      2413|
|[{'id': 10749, 'n...|15602|Still Yelling. St...|    Grumpier Old Men|         6.5|        92|
|[{'id': 35, 'name...|31357|Friends are the p...|   Waiting to Exhale|         6.1|        34|
|[{'id': 35, 'name...|11862|Just When His Wor...|Father of the Bri...|         5.7|       173|
|[{'id': 28, 'name...|  949|A Los Angeles Cri...|                Heat|         7.7|      1886|
|[{'id': 35, 'name...|11860|You are cordially...|             Sabrina|         6.2|       141|
|[{'id': 28, 'name...|45325|The Original Bad ...|        Tom and Huck|         5.4|        45|
|[{'id': 28, 'name...| 9091|Terror goes into ...|        Sudden Death|         5.5|       174|
|[{'id': 12, 'name...|  710|No limits. No fea...|           GoldenEye|         6.6|      1194|
|[{'id': 35, 'name...| 9087|Why can't the mos...|The American Pres...|         6.5|       199|
|[{'id': 35, 'name...|12110|                null|Dracula: Dead and...|         5.7|       210|
|[{'id': 10751, 'n...|21032|Part Dog. Part Wo...|               Balto|         7.1|       423|
|[{'id': 36, 'name...|10858|Triumphant in Vic...|               Nixon|         7.1|        72|
|[{'id': 28, 'name...| 1408|The Course Has Be...|    Cutthroat Island|         5.7|       137|
|[{'id': 18, 'name...|  524|No one stays at t...|              Casino|         7.8|      1343|
|[{'id': 18, 'name...| 4584|Lose your heart a...|Sense and Sensibi...|         7.2|       364|
|[{'id': 80, 'name...|    5|Twelve outrageous...|          Four Rooms|         6.5|       539|
|[{'id': 80, 'name...| 9273|New animals. New ...|Ace Ventura: When...|         6.1|      1128|
|[{'id': 28, 'name...|11517|Get on, or GET OU...|         Money Train|         5.4|       224|
+--------------------+-----+--------------------+--------------------+------------+----------+
only showing top 20 rows

In [30]:
bmd5 = bmd2.select(tomap('genres').alias('genres'),'id')

In [31]:
bmd5.show()

+--------------------+-----+
|              genres|   id|
+--------------------+-----+
|[Map(name -> Anim...|  862|
|[Map(name -> Adve...| 8844|
|[Map(name -> Roma...|15602|
|[Map(name -> Come...|31357|
|[Map(name -> Come...|11862|
|[Map(name -> Acti...|  949|
|[Map(name -> Come...|11860|
|[Map(name -> Acti...|45325|
|[Map(name -> Acti...| 9091|
|[Map(name -> Adve...|  710|
|[Map(name -> Come...| 9087|
|[Map(name -> Come...|12110|
|[Map(name -> Fami...|21032|
|[Map(name -> Hist...|10858|
|[Map(name -> Acti...| 1408|
|[Map(name -> Dram...|  524|
|[Map(name -> Dram...| 4584|
|[Map(name -> Crim...|    5|
|[Map(name -> Crim...| 9273|
|[Map(name -> Acti...|11517|
+--------------------+-----+
only showing top 20 rows

In [41]:
bmd5.dtypes

[('genres', 'array<map<string,string>>'), ('id', 'int')]

In [43]:
takewords = udf(lambda x: [i['name'] for i in x], StringType())

In [48]:
takewords = udf(lambda x: [i['name'] for i in x], StringType())
bmd6 = bmd5.select(takewords('genres').alias('genres'))

In [49]:
bmd6

DataFrame[genres: string]

In [50]:
bmd6.dtypes

[('genres', 'string')]

In [51]:
bmd6.

[Row(genres='[Animation, Comedy, Family]')]

In [180]:
import pandas as pd

In [187]:
type(md)

In [153]:
print(bmd2['genres'][1])

Column<b'genres[1]'>

In [155]:
genres=bmd2.select('genres')
genres.show()

+--------------------+
|              genres|
+--------------------+
|[{'id': 16, 'name...|
|[{'id': 12, 'name...|
|[{'id': 10749, 'n...|
|[{'id': 35, 'name...|
|[{'id': 35, 'name...|
|[{'id': 28, 'name...|
|[{'id': 35, 'name...|
|[{'id': 28, 'name...|
|[{'id': 28, 'name...|
|[{'id': 12, 'name...|
|[{'id': 35, 'name...|
|[{'id': 35, 'name...|
|[{'id': 10751, 'n...|
|[{'id': 36, 'name...|
|[{'id': 28, 'name...|
|[{'id': 18, 'name...|
|[{'id': 18, 'name...|
|[{'id': 80, 'name...|
|[{'id': 80, 'name...|
|[{'id': 28, 'name...|
+--------------------+
only showing top 20 rows

In [168]:
t = list(genres['genres'])
t

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/column.py", line 250, in __iter__
    raise TypeError("Column is not iterable")
TypeError: Column is not iterable

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [113]:
from ast import literal_eval

In [127]:
bmd4 = bmd2.withColumn('genres2',bmd2.genres)

In [133]:
bmd2

DataFrame[genres: string, id: int, tagline: string, title: string, vote_average: double, vote_count: int]

In [142]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

In [141]:
bmd3 = bmd2.select('id',bmd2['genres'].cast('ARRAY<MAP<string,string>>'),'tagline','title','vote_average','vote_count')

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/lib/py4j-0.10.4-src.zip/py4j/protocol.py", line 319, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o684.select.
: org.apache.spark.sql.AnalysisException: cannot resolve '`genres`' due to data type mismatch: cannot cast StringType to ArrayType(MapType(StringType,StringType,true),true);;
'Project [id#222, unresolvedalias(cast(genres#3 as array<map<string,string>>), None), tagline#19, title#20, vote_average#22, vote_count#23]
+- Project [genres#3, cast(id#5 as int) AS id#222, tagline#19, title#20, vote_average#22, vote_count#23]
   +- Project [genres#3, id#5, tagline#19, title#20, vote_average#22, vote_count#23]
      +- Relation[adult#0,belongs_to_collection#1,budget#2,genres#3,homepage#4,id#5,imdb_id#6,original_language#7,original_title#8,overview#9,popularity#10,poster_path#11,production_companies#12,production_countries#13,release_date#14,revenue#15L,runtime#16,spoken_languages#17,status#18,tagline#19,title#20,video#21,vote_average#22,vote_count#23] csv

	at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:93)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:85)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:289)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$transformUp$1.apply(TreeNode.scala:289)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:70)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:288)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$3.apply(TreeNode.scala:286)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$3.apply(TreeNode.scala:286)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:306)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:187)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapChildren(TreeNode.scala:304)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformUp(TreeNode.scala:286)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$transformExpressionsUp$1.apply(QueryPlan.scala:268)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$transformExpressionsUp$1.apply(QueryPlan.scala:268)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpression$1(QueryPlan.scala:279)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$1(QueryPlan.scala:289)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$1$1.apply(QueryPlan.scala:293)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
	at scala.collection.AbstractTraversable.map(Traversable.scala:104)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$1(QueryPlan.scala:293)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$6.apply(QueryPlan.scala:298)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:187)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.mapExpressions(QueryPlan.scala:298)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsUp(QueryPlan.scala:268)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:85)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1.apply(CheckAnalysis.scala:78)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:127)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$class.checkAnalysis(CheckAnalysis.scala:78)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:52)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:67)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$withPlan(Dataset.scala:2884)
	at org.apache.spark.sql.Dataset.select(Dataset.scala:1150)
	at sun.reflect.GeneratedMethodAccessor63.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/dataframe.py", line 1040, in select
    jdf = self._jdf.select(self._jcols(*cols))
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/lib/py4j-0.10.4-src.zip/py4j/java_gateway.py", line 1133, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: "cannot resolve '`genres`' due to data type mismatch: cannot cast StringType to ArrayType(MapType(StringType,StringType,true),true);;\n'Project [id#222, unresolvedalias(cast(genres#3 as array<map<string,string>>), None), tagline#19, title#20, vote_average#22, vote_count#23]\n+- Project [genres#3, cast(id#5 as int) AS id#222, tagline#19, title#20, vote_average#22, vote_count#23]\n   +- Project [genres#3, id#5, tagline#19, title#20, vote_average#22, vote_count#23]\n      +- Relation[adult#0,belongs_to_collection#1,budget#2,genres#3,homepage#4,id#5,imdb_id#6,original_language#7,original_title#8,overview#9,popularity#10,poster_path#11,production_companies#12,production_countries#13,release_date#14,revenue#15L,runtime#16,spoken_languages#17,status#18,tagline#19,title#20,video#21,vote_average#22,vote_count#23] csv\n"

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [135]:
bmd4

DataFrame[genres: string, id: int, tagline: string, title: string, vote_average: double, vote_count: int, genres2: string]

In [93]:
type(bmd2.select(['genres']).asDict())

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/dataframe.py", line 1020, in __getattr__
    "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
AttributeError: 'DataFrame' object has no attribute 'asDict'

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [79]:
bmd3 = bmd2.select('id',eval(bmd2['genres']),'tagline','title','vote_average','vote_count')

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
TypeError: eval() arg 1 must be a string, bytes or code object

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [64]:
print(bmd2['genres'])

Column<b'genres'>

In [74]:
type(bmd2.select('genres'))

In [76]:
type(bmd2.select('genres').collect())

In [78]:
bmd2.select('genres').collect()[0]

Row(genres="[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]")

In [ ]:
bmd2.select('genres').collect()

In [58]:
bmd3 = bmd2.select('id',bmd2['genres'].astype('MAP{'string','string'}'),'tagline','title','vote_average','vote_count')

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 174, in <module>
    ast_parsed = ast.parse(final_code)
  File "/usr/local/anaconda3/lib/python3.6/ast.py", line 35, in parse
    return compile(source, filename, mode, PyCF_ONLY_AST)
  File "<unknown>", line 1
    bmd3 = bmd2.select('id',bmd2['genres'].astype('MAP{'string','string'}'),'tagline','title','vote_average','vote_count')
                                                             ^
SyntaxError: invalid syntax

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [41]:
bmd3 = bmd2.select('id',bmd2['genres'].astype(('string','string')),'tagline','title','vote_average','vote_count')

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-8a4a6204-b0a8-4b06-8dd1-258e515fd5a6/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/column.py", line 422, in cast
    raise TypeError("unexpected type: %s" % type(dataType))
TypeError: unexpected type: <class 'tuple'>

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor54.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [36]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [46]:
type(bmd2.select('genres'))

In [78]:
type(bmd2.select('genres').toPandas())

In [51]:
t = list(bmd2.select('genres'))

[Column<b'genres'>]

In [58]:
type(bmd2.select('genres').toPandas())

In [59]:
bmd2.select('genres').toPandas().count()

genres    45466
dtype: int64

In [70]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [76]:
bmd2.select('genres').toPandas()

                                                  genres
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
5      [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6      [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11     [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12     [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13     [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19     [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20     [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21     [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23     [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                         [{'id': 18, 'name': 'Drama'}]
26     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27     [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28     [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
...                                                  ...
45436  [{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
45438                      [{'id': 18, 'name': 'Drama'}]
45439  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
45440  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45441                     [{'id': 35, 'name': 'Comedy'}]
45442                                                 []
45443  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45444                    [{'id': 14, 'name': 'Fantasy'}]
45445  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45446  [{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...
45447                                                 []
45448                                                 []
45449  [{'id': 16, 'name': 'Animation'}, {'id': 10751...
45450  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
45451  [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
45452                [{'id': 99, 'name': 'Documentary'}]
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
45454  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45455                                                 []
45456  [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457  [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                     [{'id': 27, 'name': 'Horror'}]
45459           [{'id': 878, 'name': 'Science Fiction'}]
45460  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                      [{'id': 18, 'name': 'Drama'}]
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                 []
45465                                                 []

[45466 rows x 1 columns]

In [31]:
type(bmd2[0])

In [35]:
from ast import literal_eval

In [23]:
trdd = sc.parallelize()

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-50d89198-10f6-4b2b-a2c7-a0c9170742cf/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/context.py", line 491, in parallelize
    serializer.dump_stream(c, tempFile)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/serializers.py", line 220, in dump_stream
    self.serializer.dump_stream(self._batched(iterator), stream)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/serializers.py", line 139, in dump_stream
    self._write_with_length(obj, stream)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/serializers.py", line 149, in _write_with_length
    serialized = self.dumps(obj)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/serializers.py", line 451, in dumps
    return pickle.dumps(obj, protocol)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/lib/py4j-0.10.4-src.zip/py4j/java_gateway.py", line 1133, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/lib/py4j-0.10.4-src.zip/py4j/protocol.py", line 323, in get_return_value
    format(target_id, ".", name, value))
py4j.protocol.Py4JError: An error occurred while calling o142.__getstate__. Trace:
py4j.Py4JException: Method __getstate__([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:272)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)



StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [10]:
temp = bmd2

In [11]:
bmd2 = temp

In [13]:
type(bmd2['genres'])

In [24]:
type(bmd2.select('genres'))

In [39]:
bmd2.select('genres').map(lambda x:[x])

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-b9c3eaff-bb2b-4924-8e47-d33dfce5670c/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
  File "/usr/local/Cellar/apache-spark/2.2.1/libexec/python/pyspark/sql/dataframe.py", line 1020, in __getattr__
    "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
AttributeError: 'DataFrame' object has no attribute 'map'

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.GeneratedMethodAccessor42.invoke(Unknown Source)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)

In [35]:
for i in bmd2.select('genres'):
    print(i)

Column<b'genres'>

In [12]:
bmd2['genres'] = bmd2.select('genres')

Name: org.apache.toree.interpreter.broker.BrokerException
Message: Traceback (most recent call last):
  File "/var/folders/g4/bh0x216x6_j83zjyf806bjn40000gn/T/kernel-PySpark-b9c3eaff-bb2b-4924-8e47-d33dfce5670c/pyspark_runner.py", line 180, in <module>
    eval(compiled_code)
  File "<string>", line 1, in <module>
TypeError: 'DataFrame' object does not support item assignment

StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$markFailure$1.apply(BrokerState.scala:158)
scala.Option.foreach(Option.scala:257)
org.apache.toree.interpreter.broker.BrokerState.markFailure(BrokerState.scala:157)
sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
java.lang.reflect.Method.invoke(Method.java:498)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:280)
py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
py4j.commands.CallCommand.execute(CallCommand.java:79)
py4j.GatewayConnection.run(GatewayConnection.java:214)
java.lang.Thread.run(Thread.java:748)